@import "./icons.less";

// Dark Theme
// @import "./app-dark.scss";

// Light Theme
@import "./app.less";

html {
  font-size: 1rem !important;
}

body {
  * {
    outline: none;
  }
}

svg > rect:first-child {
  fill-opacity: 0 !important;
}


.external-event {
  &:hover {
    cursor: pointer;
  }
}
a:hover {
  cursor: pointer;
}
.rating-container {
  background-color: transparent !important;
}

.rightbar-title .right-bar-toggle {
  background-color: #444c54 !important;
  height: 24px !important;
  width: 24px !important;
  line-height: 24px !important;
  display: block !important;
  color: #eff2f7 !important;
  text-align: center !important;
  border-radius: 50% !important;
}

//rightbar drawer
.css-sourceMap-modules-importLoaders-1-localIdentName-animate__animated___2O131 {
  animation-duration: 0.6s !important;
}
.css-sourceMap-modules-importLoaders-1-localIdentName-ReactDrawer__overlay___2QFmC-sass {
  background: rgba(0, 0, 0, 0.15) !important;
}

.iconfont:hover {
  color: currentColor !important;
}

.d-flex {
  display: flex;
}
.btn {
  background-color: transparent;
}
