@import '../../../style/themes/index';
@import '../../../style/mixins/index';

@dantd-basic-tag-prefix-cls: ~'@{dantd-prefix}-basic-tag';

@strong-color: #333;
@normal-color: #666;

@default-bgcolor: #fff;
@success-bgcolor: linear-gradient(180deg, #77d900 0%, #16c45b 100%);
@error-bgcolor: linear-gradient(180deg, #ce4096 0%, #fb4e57 100%);
@info-bgcolor: linear-gradient(180deg, #6535ff 0%, #3370ff 100%);
@warnging-bgcolor: linear-gradient(180deg, #ff740a 0%, #ffab0a 100%);
@gray-bgcolor: rgba(111, 145, 208, 0.1);

.@{dantd-basic-tag-prefix-cls} {
  padding: 0 4px;
  text-align: center;
  border-radius: 2px;

  &-small.ant-tag {
    height: 18px;
    font-size: 10px;
    font-family: PingFangSC-Medium;
    line-height: 18px;
  }

  &-middle.ant-tag {
    height: 24px;
    font-size: 12px;
    font-family: PingFangSC-Medium;
    line-height: 24px;
  }

  &-large.ant-tag {
    height: 28px;
    font-size: 12px;
    font-family: PingFangSC-Medium;
    line-height: 28px;
  }

  &-default.ant-tag {
    color: #303a51;
    background: #f8fafd;
    border: 1px solid #eaeef5;
  }

  &-success.ant-tag {
    color: #46d677;
    background: #e6f8ec;
    border: 1px solid #2ec963;
  }

  &-error.ant-tag {
    color: #fbba46;
    background: #fef6e8;
    border: 1px solid #fbba46;
  }

  &-info.ant-tag {
    color: #2f81f9;
    background: #f3f8ff;
    border: 1px solid #2f81f9;
  }

  &-warning.ant-tag {
    color: #ef645c;
    background: #feedee;
    border: 1px solid #fda6ab;
  }
  &-level.ant-tag {
    padding: 0 8px;
    color: #fff;
    border: none;
  }
  &-P0.ant-tag {
    background: #d14a61;
  }
  &-P1.ant-tag {
    background: #ef645c;
  }
  &-P2.ant-tag {
    background: #f4a838;
  }
  &-P3.ant-tag {
    background: #76cdd3;
  }
  &-P4.ant-tag {
    background: #46d677;
  }
  &-P5.ant-tag {
    background: #34a637;
  }
  &-P6.ant-tag {
    background: #089d61;
  }
}
