@import '../../../style/dantd.less';

@dantd-basic-tag-prefix-cls: ~'@{dantd-prefix}-basic-tag';

@strong-color: #333;
@normal-color: #666;

@default-bgcolor:  #fff;;
@success-bgcolor: linear-gradient(180deg, #77D900 0%, #16C45B 100%);
@error-bgcolor:  linear-gradient(180deg, #CE4096 0%, #FB4E57 100%);
@info-bgcolor: linear-gradient(180deg, #6535FF 0%, #3370FF 100%);
@warnging-bgcolor: linear-gradient(180deg, #FF740A 0%, #FFAB0A 100%);
@gray-bgcolor: rgba(111,145,208,.1);

.@{dantd-basic-tag-prefix-cls} {
  padding: 0 4px;
  border-radius: 2px;
  text-align: center;

  &-small.ant-tag {
    height:18px;
    line-height: 18px;
    font-family: PingFangSC-Medium;
    font-size: 10px;
  }

  &-middle.ant-tag {
    height:24px;
    line-height: 24px;
    font-family: PingFangSC-Medium;
    font-size: 12px;
  }

  &-large.ant-tag {
    height:28px;
    line-height: 28px;
    font-family: PingFangSC-Medium;
    font-size: 12px;
  }

  &-default.ant-tag {
    color: #303A51;
    background: #F8FAFD;
    border: 1px solid #EAEEF5;
  }

  &-success.ant-tag {
    color: #46D677;
    background: #E6F8EC;
    border: 1px solid #2EC963;
  }

  &-error.ant-tag {
    color: #FBBA46;
    background: #FEF6E8;
    border: 1px solid #FBBA46;
  }

  &-info.ant-tag {
    color: #2F81F9;
    background: #F3F8FF;
    border: 1px solid #2F81F9;
  }

  &-warning.ant-tag {
    color: #EF645C;
    background: #FEEDEE;
    border: 1px solid #FDA6AB;
  }
  &-level.ant-tag {
    color:#fff;
    padding: 0 8px;
    border: none;
  }
  &-P0.ant-tag {
    background: #D14A61;
  }
  &-P1.ant-tag {
    background: #EF645C;
  }
  &-P2.ant-tag {
    background: #F4A838;
  }
  &-P3.ant-tag {
    background: #76CDD3;
  }
  &-P4.ant-tag {
    background: #46D677;
  }
  &-P5.ant-tag {
    background: #34A637;
  }
  &-P6.ant-tag {
    background: #089D61;
  }
}
