@import '../../../style/themes/index';
@import '../../../style/mixins/index';

@dantd-desc-prefix-cls: ~'@{dantd-prefix}-desc';

.@{dantd-desc-prefix-cls} {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  overflow: hidden;
  border-radius: 2px;
  &-bordered {
    border: @border-width-base @border-style-base @border-color-split;
  }

  &-title {
    width: 80px;
    margin-bottom: 15px;
    color: @heading-color;
    font-weight: bold;
    font-size: 16px;
    text-align: right;
    word-break: break-word;
  }

  &-item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4px;
    font-size: 12px;

    &-main-title {
      position: relative;
      flex: 0 1 auto;
      width: 80px;
      color: @heading-color;
      font-weight: bold;
      font-size: 13px;
      line-height: 2;
      text-align: right;
      word-break: break-word;
      > div,
      p,
      span {
        margin-bottom: 0 !important;
        font-size: 13px;
      }
    }

    &-title {
      position: relative;
      flex: 0 1 auto;
      width: 80px;
      margin-right: 12px;
      color: @heading-color;
      font-weight: 400;
      line-height: 1.8;
      text-align: right;
      word-break: break-word;

      &-colon {
        &:after {
          position: absolute;
          top: -0.5px;
          margin: 0 8px 0 4px;
          content: ':';
        }
      }
      > div,
      p,
      span {
        margin-bottom: 0 !important;
        font-size: 12px;
      }
    }

    &-content {
      flex: 1;
      width: auto;
      color: @text-color;
      line-height: 1.8;
      word-break: break-word;

      > div,
      p,
      span {
        margin-bottom: 0 !important;
        font-size: 12px;
      }
    }
  }
}
