@layout-prefix-cls: ~'dcd-layout';

.@{layout-prefix-cls} {
  &-header {
    &.ant-layout-header {
      background-color: white;
      padding: 0 10px;
      height: 70px;
      background: #FFFFFF;
      box-shadow: 0 10px 20px 0 rgb(18 38 63 / 3%);
      display: flex;
      align-items: center;
    }

    &-left {
      display: flex;
      align-items: center;

      .search {
        width: 233px;
        height: 38px;
        background: #F3F3F9;
        border-radius: 30px;
        border: none;
        margin-left: 17px;

        .ant-input {
          background: #F3F3F9;
        }
      }
    }
  }

  &-sider {
    &.ant-layout-sider {
      width: 252px;
      background: #2A3042;
    }
  }
}
