@layout-prefix-cls: ~'dcd-layout';

.@{layout-prefix-cls} {
  @-webkit-keyframes tada {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1)
    }

    10%,
    20% {
      -webkit-transform: scale3d(.95, .95, .95) rotate3d(0, 0, 1, -10deg);
      transform: scale3d(.95, .95, .95) rotate3d(0, 0, 1, -10deg)
    }

    30%,
    50%,
    70%,
    90% {
      -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
      transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg)
    }

    40%,
    60%,
    80% {
      -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -10deg);
      transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -10deg)
    }

    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1)
    }
  }

  @keyframes tada {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1)
    }

    10%,
    20% {
      -webkit-transform: scale3d(.95, .95, .95) rotate3d(0, 0, 1, -10deg);
      transform: scale3d(.95, .95, .95) rotate3d(0, 0, 1, -10deg)
    }

    30%,
    50%,
    70%,
    90% {
      -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
      transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg)
    }

    40%,
    60%,
    80% {
      -webkit-transform: rotate3d(0, 0, 1, -10deg);
      transform: rotate3d(0, 0, 1, -10deg)
    }

    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1)
    }
  }

  &-header {
    &.ant-layout-header {
      //position: fixed;
      // left: 180px;
      // width: calc(100% - 180px);
      background-color: white;
      padding: 0 24px;
      height: 56px;
      box-shadow: 0 10px 20px 0 rgba(18, 38, 63, 0.03);
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 10;
    }

    &.collapsed {
      // left: 80px;
      // width: calc(100% - 80px);
    }

    &-left {
      display: flex;
      align-items: center;
      font-family: PingFangSC-Medium;
      font-size: 16px;
      color: #212529;
      letter-spacing: 0;

      .trigger {
        margin-left: 8px;
      }

      span+span {
        margin-left: 10px;
      }

      .search {
        width: 200px;
        height: 38px;
        background: #F3F3F9;
        border-radius: 30px;
        border: none;
        margin-left: 17px;

        .ant-input {
          background: #F3F3F9;
        }
      }
    }

    &-right {
      display: flex;
      align-items: center;

      .icon {
        font-size: 18px;
        color: #495057;

        .anticon-spin {
          animation: loadingCircle 2s infinite linear;
        }
      }

      .avatar {
        font-size: 30px;

        &-dropdown {
          display: flex;
          align-items: center;

          .account {
            margin-left: 13px;
            font-family: PingFangSC-Regular;
            font-size: 13px;
            color: #495057;
          }
        }
      }

      .tada-icon {
        animation: tada 1.5s ease infinite;
      }

      span+span {
        margin-left: 24px;
      }
    }
  }

  &-sider {
    &.ant-layout-sider {
      width: 252px;
      background: #15213b;
      background-image: linear-gradient(180deg, #182039 0%, #171F38 94%);
      // position: fixed;
      height: 100%;
    }
  }

  &-content {
    // left: 180px;
    // width: calc(100% - 180px);
    // height: calc(100% - 56px);
    // position: relative;
    // top: 56px;
    // padding: 0px 24px;

    // &.collapsed {
    //   left: 80px;
    //   width: calc(100% - 80px);
    // }
  }
}
