@import '../../../basic/style/themes/variable.less';

@layout-prefix-cls: ~'dcd-layout';
@link-color: #556EE6;
@font-color: #212529;
@menu-prefix-cls: ~'@{ant-prefix}-menu';
@tooltip-prefix-cls: ~'@{ant-prefix}-tooltip';

.left-sider-menu {
  .menu-title {
    height: 56px;
    line-height: 56px;
    font-size: 16px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-bottom: 8px;

    &.collapsed {
      justify-content: center;
    }

    .trigger {
      width: 21px;
      height: 21px;
      font-size: 21px;
    }
  }

  .nav-menu-icon {
    display: flex;
    width: 21px;
    height: 21px;
  }

  .menu-icon {
    font-size: 21px;
    display: flex;
    align-items: center;

    .title {
      margin-left: 6px;
      font-size: 16px;
    }
  }

  .@{menu-prefix-cls}-vertical .@{menu-prefix-cls}-submenu,
  .@{menu-prefix-cls}-vertical-left .@{menu-prefix-cls}-submenu,
  .@{menu-prefix-cls}-vertical-right .@{menu-prefix-cls}-submenu,
  .@{menu-prefix-cls}-inline .@{menu-prefix-cls}-submenu {
    padding-bottom: 0px;
    margin-bottom: 26px;
  }

  .@{menu-prefix-cls}-vertical>.@{menu-prefix-cls}-item,
  .@{menu-prefix-cls}-vertical-left>.@{menu-prefix-cls}-item,
  .@{menu-prefix-cls}-vertical-right>.@{menu-prefix-cls}-item,
  .@{menu-prefix-cls}-inline>.@{menu-prefix-cls}-item,
  .@{menu-prefix-cls}-vertical>.@{menu-prefix-cls}-submenu>.@{menu-prefix-cls}-submenu-title,
  .@{menu-prefix-cls}-vertical-left>.@{menu-prefix-cls}-submenu>.@{menu-prefix-cls}-submenu-title,
  .@{menu-prefix-cls}-vertical-right>.@{menu-prefix-cls}-submenu>.@{menu-prefix-cls}-submenu-title,
  .@{menu-prefix-cls}-inline>.@{menu-prefix-cls}-submenu>.@{menu-prefix-cls}-submenu-title {
    height: 30px;
    line-height: 30px;
  }

  .@{menu-prefix-cls}-submenu-expand-icon,
  .@{menu-prefix-cls}-submenu-arrow {
    right: 10px;
    color: #fff;
  }

  .@{menu-prefix-cls}-inline .@{menu-prefix-cls}-item-group-list .@{menu-prefix-cls}-submenu-title,
  .@{menu-prefix-cls}-inline .@{menu-prefix-cls}-submenu-title {
    padding-right: 30px;
    margin-left: 10px;
    padding-left: 10px !important;
  }

  .@{menu-prefix-cls}.@{menu-prefix-cls}-dark,
  .@{menu-prefix-cls}-dark .@{menu-prefix-cls}-sub,
  .@{menu-prefix-cls}.@{menu-prefix-cls}-dark .@{menu-prefix-cls}-sub {
    background: none;
    color: #fff;
    font-family: PingFangSC-Regular;
  }

  .@{menu-prefix-cls}-dark.@{menu-prefix-cls}-inline .@{menu-prefix-cls}-item,
  .@{menu-prefix-cls}-dark.@{menu-prefix-cls}-inline .@{menu-prefix-cls}-submenu-title {
    width: calc(100% - 20px);
    margin-bottom: 18px;
    font-family: PingFangSC-Medium;
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding-left: 10px!important;
  }

  .@{menu-prefix-cls}-dark .@{menu-prefix-cls}-item,
  .@{menu-prefix-cls}-dark .@{menu-prefix-cls}-item-group-title,
  .@{menu-prefix-cls}-dark .@{menu-prefix-cls}-item>a,
  .@{menu-prefix-cls}-dark .@{menu-prefix-cls}-item>span>a {
    color: #fff;
    text-decoration: none;
  }

  .@{menu-prefix-cls}-dark.@{menu-prefix-cls}-dark:not(.@{menu-prefix-cls}-horizontal) .@{menu-prefix-cls}-item-selected {
    background-color: #253155;
  }

  .@{menu-prefix-cls} {
    height: 100%;
    background: none;
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0;

    .single-item {
      font-family: PingFangSC-Medium;
      display: flex;
      align-items: center;
    }

    .@{menu-prefix-cls}-submenu-arrow {
      color: #fff;
    }

    .@{menu-prefix-cls}-submenu-title:hover {
      color: #fff;
      width: 160px;
      background: #253155;
      border-radius: 4px;

      .@{menu-prefix-cls}-submenu-arrow {
        color: #fff;
      }
    }

    .@{menu-prefix-cls}-sub.@{menu-prefix-cls}-inline>.@{menu-prefix-cls}-item,
    .@{menu-prefix-cls}-sub.@{menu-prefix-cls}-inline>.@{menu-prefix-cls}-submenu>.@{menu-prefix-cls}-submenu-title {
      height: 30px;
      line-height: 30px;
      list-style-position: inside;
      list-style-type: disc;
      margin-left: 10px;
      color: #fff;
      padding-left: 41px !important;
      font-family: PingFangSC-Regular;
    }

    .@{menu-prefix-cls}-sub.@{menu-prefix-cls}-inline>.@{menu-prefix-cls}-item,
    .@{menu-prefix-cls}-sub.@{menu-prefix-cls}-inline>.@{menu-prefix-cls}-submenu>.@{menu-prefix-cls}-submenu-title:not(:last-child) {
      margin-bottom: 18px;
      margin-top: 0px;
    }

    .@{menu-prefix-cls}-sub {
      .@{menu-prefix-cls}-item:last-child {
        margin-bottom: 0px;
      }
    }
  }

  .@{menu-prefix-cls}.@{menu-prefix-cls}-inline-collapsed>.@{menu-prefix-cls}-item,
  .@{menu-prefix-cls}.@{menu-prefix-cls}-inline-collapsed>.@{menu-prefix-cls}-item-group>.@{menu-prefix-cls}-item-group-list>.@{menu-prefix-cls}-item,
  .@{menu-prefix-cls}.@{menu-prefix-cls}-inline-collapsed>.@{menu-prefix-cls}-item-group>.@{menu-prefix-cls}-item-group-list>.@{menu-prefix-cls}-submenu>.@{menu-prefix-cls}-submenu-title,
  .@{menu-prefix-cls}.@{menu-prefix-cls}-inline-collapsed>.@{menu-prefix-cls}-submenu>.@{menu-prefix-cls}-submenu-title {
    left: 0;
    padding: 0 calc(50% - 20px);
    text-overflow: clip;
    margin: 0px 10px;
    display: flex;
    align-items: center;
  }

  .@{menu-prefix-cls}.@{menu-prefix-cls}-inline-collapsed>.@{menu-prefix-cls}-item .@{menu-prefix-cls}-item-icon,
  .@{menu-prefix-cls}.@{menu-prefix-cls}-inline-collapsed>.@{menu-prefix-cls}-item-group>.@{menu-prefix-cls}-item-group-list>.@{menu-prefix-cls}-item .@{menu-prefix-cls}-item-icon,
  .@{menu-prefix-cls}.@{menu-prefix-cls}-inline-collapsed>.@{menu-prefix-cls}-item-group>.@{menu-prefix-cls}-item-group-list>.@{menu-prefix-cls}-submenu>.@{menu-prefix-cls}-submenu-title .@{menu-prefix-cls}-item-icon,
  .@{menu-prefix-cls}.@{menu-prefix-cls}-inline-collapsed>.@{menu-prefix-cls}-submenu>.@{menu-prefix-cls}-submenu-title .@{menu-prefix-cls}-item-icon,
  .@{menu-prefix-cls}.@{menu-prefix-cls}-inline-collapsed>.@{menu-prefix-cls}-item .anticon,
  .@{menu-prefix-cls}.@{menu-prefix-cls}-inline-collapsed>.@{menu-prefix-cls}-item-group>.@{menu-prefix-cls}-item-group-list>.@{menu-prefix-cls}-item .anticon,
  .@{menu-prefix-cls}.@{menu-prefix-cls}-inline-collapsed>.@{menu-prefix-cls}-item-group>.@{menu-prefix-cls}-item-group-list>.@{menu-prefix-cls}-submenu>.@{menu-prefix-cls}-submenu-title .anticon,
  .@{menu-prefix-cls}.@{menu-prefix-cls}-inline-collapsed>.@{menu-prefix-cls}-submenu>.@{menu-prefix-cls}-submenu-title .anticon {
    line-height: 30px;
    font-size: 21px;
    display: inline-block;
  }

  .@{menu-prefix-cls}-inline-collapsed>.@{menu-prefix-cls}-submenu>.@{menu-prefix-cls}-submenu-title:hover {
    width: 60px;
  }

  .@{menu-prefix-cls}-dark .@{menu-prefix-cls}-item:hover {
    color: #fff;
    width: 160px;
    background: #253155;
    border-radius: 4px;
  }

  .@{menu-prefix-cls}-inline-collapsed .@{menu-prefix-cls}-item:hover {
    width: 60px;
  }
}


.@{layout-prefix-cls}-menu-popup {

  .submenu-title {
    border-bottom: 2px solid #EFF2F7;
    font-family: PingFangSC-Medium;
    letter-spacing: 0;
    cursor: auto;
  }

  .@{menu-prefix-cls}-vertical.@{menu-prefix-cls}-sub,
  .@{menu-prefix-cls}-vertical-left.@{menu-prefix-cls}-sub,
  .@{menu-prefix-cls}-vertical-right.@{menu-prefix-cls}-sub {
    min-width: 110px;
  }

  .@{menu-prefix-cls}-vertical>.@{menu-prefix-cls}-item,
  .@{menu-prefix-cls}-vertical-left>.@{menu-prefix-cls}-item,
  .@{menu-prefix-cls}-vertical-right>.@{menu-prefix-cls}-item,
  .@{menu-prefix-cls}-inline>.@{menu-prefix-cls}-item,
  .@{menu-prefix-cls}-vertical>.@{menu-prefix-cls}-submenu>.@{menu-prefix-cls}-submenu-title,
  .@{menu-prefix-cls}-vertical-left>.@{menu-prefix-cls}-submenu>.@{menu-prefix-cls}-submenu-title,
  .@{menu-prefix-cls}-vertical-right>.@{menu-prefix-cls}-submenu>.@{menu-prefix-cls}-submenu-title,
  .@{menu-prefix-cls}-inline>.@{menu-prefix-cls}-submenu>.@{menu-prefix-cls}-submenu-title {
    margin: 0px;
    height: 32px;
    line-height: 32px;
  }

  .@{menu-prefix-cls}-vertical .@{menu-prefix-cls}-item:not(:last-child),
  .@{menu-prefix-cls}-vertical-left .@{menu-prefix-cls}-item:not(:last-child),
  .@{menu-prefix-cls}-vertical-right .@{menu-prefix-cls}-item:not(:last-child),
  .@{menu-prefix-cls}-inline .@{menu-prefix-cls}-item:not(:last-child) {
    margin: 0px;
  }

  &.@{menu-prefix-cls}.@{menu-prefix-cls}-dark .@{menu-prefix-cls}-sub {
    color: @font-color;
    background: #FFFFFF;
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.02), 0 2px 6px 6px rgba(0, 0, 0, 0.02), 0 2px 6px 0 rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    font-size: 13px;
    font-family: PingFangSC-Regular;
    letter-spacing: 0;

    .@{menu-prefix-cls}-item,
    .@{menu-prefix-cls}-item a {
      color: @font-color;
    }

    .@{menu-prefix-cls}-item a:hover {
      color: @link-color !important;
      text-decoration: none;
    }

    .submenu-title:hover {
      color: @font-color;
    }
  }

  &.@{menu-prefix-cls}-dark.@{menu-prefix-cls}-dark:not(.@{menu-prefix-cls}-horizontal) .@{menu-prefix-cls}-item-selected {
    background-color: #fff !important;

    a {
      color: @link-color;
    }
  }
}

.@{menu-prefix-cls}-inline-collapsed-tooltip {
  .@{tooltip-prefix-cls}-arrow-content {
    background-color: rgba(255, 255, 255, 0.8)
  }
  .@{tooltip-prefix-cls}-inner {
    background-color: #fff;
    .menu-name {
      color: @font-color;
    }
  }
}