@layout-prefix-cls: ~'dcd-layout';

.left-sider-menu {
  .menu-title {
    height: 56px;
    line-height: 56px;
    font-size: 16px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-bottom: 8px;

    &.collapsed {
      justify-content: center;
    }

    .trigger {
      width: 21px;
      height: 21px;
      font-size: 21px;
    }
  }

  .nav-menu-icon {
    display: flex;
    margin-right: 10px;
    width: 21px;
    height: 21px;
  }

  .menu-icon {
    font-size: 21px;
    display: flex;
    align-items: center;

    .title {
      margin-left: 6px;
      font-size: 16px;
    }
  }

  .ant-menu-vertical .ant-menu-submenu,
  .ant-menu-vertical-left .ant-menu-submenu,
  .ant-menu-vertical-right .ant-menu-submenu,
  .ant-menu-inline .ant-menu-submenu {
    padding-bottom: 0px;
    margin-bottom: 26px;
  }

  .ant-menu-vertical>.ant-menu-item,
  .ant-menu-vertical-left>.ant-menu-item,
  .ant-menu-vertical-right>.ant-menu-item,
  .ant-menu-inline>.ant-menu-item,
  .ant-menu-vertical>.ant-menu-submenu>.ant-menu-submenu-title,
  .ant-menu-vertical-left>.ant-menu-submenu>.ant-menu-submenu-title,
  .ant-menu-vertical-right>.ant-menu-submenu>.ant-menu-submenu-title,
  .ant-menu-inline>.ant-menu-submenu>.ant-menu-submenu-title {
    height: 30px;
    line-height: 30px;
  }

  .ant-menu-submenu-expand-icon,
  .ant-menu-submenu-arrow {
    right: 10px;
    color: #fff;
  }

  .ant-menu-inline .ant-menu-item-group-list .ant-menu-submenu-title,
  .ant-menu-inline .ant-menu-submenu-title {
    padding-right: 30px;
    margin-left: 10px;
    padding-left: 10px !important;
  }

  .ant-menu.ant-menu-dark,
  .ant-menu-dark .ant-menu-sub,
  .ant-menu.ant-menu-dark .ant-menu-sub {
    background: none;
    color: #fff;
    font-family: PingFangSC-Regular;
  }

  .ant-menu-dark.ant-menu-inline .ant-menu-item,
  .ant-menu-dark.ant-menu-inline .ant-menu-submenu-title {
    width: calc(100% - 20px);
    margin-bottom: 18px;
    font-family: PingFangSC-Medium;
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding-left: 10px!important;
  }

  .ant-menu-dark .ant-menu-item,
  .ant-menu-dark .ant-menu-item-group-title,
  .ant-menu-dark .ant-menu-item>a,
  .ant-menu-dark .ant-menu-item>span>a {
    color: #fff;
    text-decoration: none;
  }

  .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #253155;
  }

  .ant-menu.ant-menu-dark .ant-menu-submenu-title .ant-menu-submenu-arrow,
  .ant-menu-dark .ant-menu-sub .ant-menu-submenu-title .ant-menu-submenu-arrow,
  .ant-menu.ant-menu-dark .ant-menu-sub .ant-menu-submenu-title .ant-menu-submenu-arrow {
    opacity: 1;
  }

  .ant-menu {
    height: 100%;
    background: none;
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0;

    .single-item {
      font-family: PingFangSC-Medium;
      display: flex;
      align-items: center;
    }

    .ant-menu-submenu-arrow {
      color: #fff;
    }

    .ant-menu-submenu-title:hover {
      color: #fff;
      width: 160px;
      background: #253155;
      border-radius: 4px;

      .ant-menu-submenu-arrow {
        color: #fff;
      }
    }

    .ant-menu-sub.ant-menu-inline>.ant-menu-item,
    .ant-menu-sub.ant-menu-inline>.ant-menu-submenu>.ant-menu-submenu-title {
      height: 30px;
      line-height: 30px;
      list-style-position: inside;
      list-style-type: disc;
      margin-left: 10px;
      color: #fff;
      padding-left: 41px !important;
      font-family: PingFangSC-Regular;
    }

    .ant-menu-sub.ant-menu-inline>.ant-menu-item,
    .ant-menu-sub.ant-menu-inline>.ant-menu-submenu>.ant-menu-submenu-title:not(:last-child) {
      margin-bottom: 18px;
      margin-top: 0px;
    }

    .ant-menu-sub {
      .ant-menu-item:last-child {
        margin-bottom: 0px;
      }
    }
  }

  .ant-menu.ant-menu-inline-collapsed>.ant-menu-item,
  .ant-menu.ant-menu-inline-collapsed>.ant-menu-item-group>.ant-menu-item-group-list>.ant-menu-item,
  .ant-menu.ant-menu-inline-collapsed>.ant-menu-item-group>.ant-menu-item-group-list>.ant-menu-submenu>.ant-menu-submenu-title,
  .ant-menu.ant-menu-inline-collapsed>.ant-menu-submenu>.ant-menu-submenu-title {
    left: 0;
    padding: 0 calc(50% - 20px);
    text-overflow: clip;
    margin: 0px 10px;
    display: flex;
    align-items: center;
  }

  .ant-menu.ant-menu-inline-collapsed>.ant-menu-item .ant-menu-item-icon,
  .ant-menu.ant-menu-inline-collapsed>.ant-menu-item-group>.ant-menu-item-group-list>.ant-menu-item .ant-menu-item-icon,
  .ant-menu.ant-menu-inline-collapsed>.ant-menu-item-group>.ant-menu-item-group-list>.ant-menu-submenu>.ant-menu-submenu-title .ant-menu-item-icon,
  .ant-menu.ant-menu-inline-collapsed>.ant-menu-submenu>.ant-menu-submenu-title .ant-menu-item-icon,
  .ant-menu.ant-menu-inline-collapsed>.ant-menu-item .anticon,
  .ant-menu.ant-menu-inline-collapsed>.ant-menu-item-group>.ant-menu-item-group-list>.ant-menu-item .anticon,
  .ant-menu.ant-menu-inline-collapsed>.ant-menu-item-group>.ant-menu-item-group-list>.ant-menu-submenu>.ant-menu-submenu-title .anticon,
  .ant-menu.ant-menu-inline-collapsed>.ant-menu-submenu>.ant-menu-submenu-title .anticon {
    line-height: 30px;
    font-size: 21px;
    display: flex;
  }

  .ant-menu-inline-collapsed>.ant-menu-submenu>.ant-menu-submenu-title:hover {
    width: 60px;
  }

  .ant-menu-dark .ant-menu-item:hover {
    color: #fff;
    width: 160px;
    background: #253155;
    border-radius: 4px;
  }

  .ant-menu-inline-collapsed .ant-menu-item:hover {
    width: 60px;
  }
}


.@{layout-prefix-cls}-menu-popup {

  .submenu-title {
    border-bottom: 2px solid #EFF2F7;
    font-family: PingFangSC-Medium;
    letter-spacing: 0;
    cursor: auto;
  }

  .ant-menu-vertical.ant-menu-sub,
  .ant-menu-vertical-left.ant-menu-sub,
  .ant-menu-vertical-right.ant-menu-sub {
    min-width: 110px;
  }

  .ant-menu-vertical>.ant-menu-item,
  .ant-menu-vertical-left>.ant-menu-item,
  .ant-menu-vertical-right>.ant-menu-item,
  .ant-menu-inline>.ant-menu-item,
  .ant-menu-vertical>.ant-menu-submenu>.ant-menu-submenu-title,
  .ant-menu-vertical-left>.ant-menu-submenu>.ant-menu-submenu-title,
  .ant-menu-vertical-right>.ant-menu-submenu>.ant-menu-submenu-title,
  .ant-menu-inline>.ant-menu-submenu>.ant-menu-submenu-title {
    margin: 0px;
    height: 32px;
    line-height: 32px;
  }

  .ant-menu-vertical .ant-menu-item:not(:last-child),
  .ant-menu-vertical-left .ant-menu-item:not(:last-child),
  .ant-menu-vertical-right .ant-menu-item:not(:last-child),
  .ant-menu-inline .ant-menu-item:not(:last-child) {
    margin: 0px;
  }

  &.ant-menu.ant-menu-dark .ant-menu-sub {
    color: #212529;
    background: #FFFFFF;
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.02), 0 2px 6px 6px rgba(0, 0, 0, 0.02), 0 2px 6px 0 rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    font-size: 13px;
    font-family: PingFangSC-Regular;
    letter-spacing: 0;

    .ant-menu-item,
    .ant-menu-item a {
      color: #212529;
    }

    .ant-menu-item a:hover {
      color: #556EE6 !important;
      text-decoration: none;
    }

    .submenu-title:hover {
      color: #212529;
    }
  }

  &.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #fff !important;

    a {
      color: #556EE6;
    }
  }
}