@import '../../../style/dantd.less';
@dantd-picker-prefix-cls: ~'@{dantd-prefix}-picker';
@dantd-picker-dropdown-prefix-cls: ~'@{dantd-prefix}-picker-dropdown';
@dantd-picker-dropdown-range-prefix-cls: ~'@{dantd-prefix}-picker-dropdown-range';

.@{dantd-picker-prefix-cls} {
  &:hover{
    background-color: rgba(42,143,255,0.06);
    border: 1px solid #2A8FFF;
  }
}
.@{dantd-picker-dropdown-prefix-cls} {
  .ant-picker-date-panel,.ant-picker-month-panel,.ant-picker-quarter-panel,.ant-picker-year-panel{
    .ant-picker-cell{
      font-family: PingFangSC-Medium;
      background-color: #FFFFFF;
      .ant-picker-cell-inner:hover{
        color: #2F81F9;
        background: rgba(42,143,255,0.06) !important;
      }
    }
    .ant-picker-cell.ant-picker-cell-today{
      // font-family: PingFangSC-Medium;
      // background-color: #FFFFFF;
      .ant-picker-cell-inner{
        color: #2F81F9;
        &::before{
          border: none;
        }
      }
    }
    .ant-picker-cell.ant-picker-cell-active{
      .ant-picker-cell-inner{

      }
      // font-family: PingFangSC-Medium;
      // background-color: #FFFFFF;
    }
    .ant-picker-cell.ant-picker-cell-selected{
      .ant-picker-cell-inner{
        color: #2F81F9;
        background-color: rgba(47,129,249,0.12) !important;
      }
    }
  }
  .ant-picker-week-panel{

    .ant-picker-cell.ant-picker-cell-today{
      .ant-picker-cell-inner{
        color: #2F81F9;
        &::before{
          border: none;
        }
      }
    }
    .ant-picker-week-panel-row{
      &:hover td{
        background: rgba(42,143,255,0.06) !important;
        .ant-picker-cell-inner{
          color: #2F81F9;
        }
        .ant-picker-cell-week{
          color: #ccc;
        }
      }
    }
    .ant-picker-week-panel-row-selected td, .ant-picker-week-panel-row-selected:hover td{
      background-color: rgba(47,129,249,0.12) !important;
      color: #ccc!important;
      .ant-picker-cell-inner{
        color: #2F81F9;
      }
    }
  }
}
.@{dantd-picker-prefix-cls}.ant-picker-focused.ant-picker{
  border-color: #2A8FFF !important;
  box-shadow: none!important;
}
.@{dantd-picker-dropdown-range-prefix-cls} {
  .ant-picker-date-panel,.ant-picker-month-panel,.ant-picker-quarter-panel,.ant-picker-year-panel{
    .ant-picker-cell{
      font-family: PingFangSC-Medium;
      background-color: #FFFFFF;
      .ant-picker-cell-inner:hover{
        color: #2F81F9;
        background: rgba(42,143,255,0.06) !important;
      }
    }
    .ant-picker-cell.ant-picker-cell-today{
      // font-family: PingFangSC-Medium;
      // background-color: #FFFFFF;
      .ant-picker-cell-inner{
        color: #2F81F9;
        &::before{
          border: none;
        }
      }
    }
    .ant-picker-cell.ant-picker-cell-active{
      .ant-picker-cell-inner{

      }
      // font-family: PingFangSC-Medium;
      // background-color: #FFFFFF;
    }
    // .ant-picker-cell.ant-picker-cell-selected{
    //   .ant-picker-cell-inner{
    //     color: #2F81F9;
    //     background-color: rgba(47,129,249,0.12) !important;
    //   }
    // }

    .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single),.ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single),.ant-picker-cell-in-view.ant-picker-cell-in-range{
      .ant-picker-cell-inner{
        color: #2F81F9;
        background-color: #e9effd !important;
      }
      &::before{
        background-color: rgba(47,129,249,0.12) !important;
      }
    }
    .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single){
      .ant-picker-cell-inner{
        border-left: 2px solid #2F81F9;
      }
    }
    .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single){
      .ant-picker-cell-inner{
        border-right: 2px solid #2F81F9;
      }
    }
    .ant-picker-cell-in-view.ant-picker-cell-range-start-single,.ant-picker-cell-in-view.ant-picker-cell-range-end-single{
      .ant-picker-cell-inner{
        color: #2F81F9;
        background-color: #e9effd !important;
      }
      &::before{
        // background-color: rgba(47,129,249,0.12) !important;
      }
    }
    .ant-picker-cell-in-view.ant-picker-cell-range-start-single{
      .ant-picker-cell-inner{
        border-left: 2px solid #2F81F9;
      }
    }
    .ant-picker-cell-in-view.ant-picker-cell-range-single{
      .ant-picker-cell-inner{
        border-right: 2px solid #2F81F9;
      }
    }
  }
  .ant-picker-week-panel{

    .ant-picker-cell.ant-picker-cell-today{
      .ant-picker-cell-inner{
        color: #2F81F9;
        &::before{
          border: none;
        }
      }
    }
    .ant-picker-week-panel-row{
      &:hover td{
        background: rgba(42,143,255,0.06) !important;
        .ant-picker-cell-inner{
          color: #2F81F9;
        }
        .ant-picker-cell-week{
          color: #ccc;
        }
      }
    }
    .ant-picker-week-panel-row-selected td, .ant-picker-week-panel-row-selected:hover td{
      background-color: rgba(47,129,249,0.12) !important;
      color: #ccc!important;
      .ant-picker-cell-inner{
        color: #2F81F9;
      }
    }
  }
}