.pro-table-container {
  .container-query {
    width: 100%;
    // background: #fff;
    // .dantd-query-form-option {
    //   .dcloud-form-item-control-input-content {
    //     text-align: right;
    //   }
    // }
  }

  .container-table {
    .dcloud-table-thead {
      tr th {
        white-space: nowrap;
      }
    }

    .dcloud-table-filter-column {
      line-height: 100%;

      .dcloud-table-filter-column-title {
        flex-grow: 0;
        padding-right: 5px;
      }

      .dcloud-table-filter-trigger-container {
        position: relative;
      }
    }
  }
}
