@import '../../../style/dantd.less';
.ant-notification-notice{
  padding: 16px 20px!important;
}
.ant-notification-notice-success{
    border-left: 4px solid @color-success;
}
.ant-notification-notice-info{
    border-left: 4px solid @primary-color;
}
.ant-notification-notice-warning{
    border-left: 4px solid @color-warning;
}
.ant-notification-notice-error{
    border-left: 4px solid @color-error;
}