@import '../../../style/themes/index';
@import '../../../style/mixins/index';

@dantd-switch-prefix-cls: ~'@{dantd-prefix}-d-card';

@strong-color: #333;
@normal-color: #666;

@default-bgcolor: #fff;
@success-bgcolor: linear-gradient(180deg, #77d900 0%, #16c45b 100%);
@error-bgcolor: linear-gradient(180deg, #ce4096 0%, #fb4e57 100%);
@info-bgcolor: linear-gradient(180deg, #6535ff 0%, #3370ff 100%);
@warnging-bgcolor: linear-gradient(180deg, #ff740a 0%, #ffab0a 100%);
@gray-bgcolor: rgba(111, 145, 208, 0.1);

.@{dantd-switch-prefix-cls} {
  padding-top: 20px;
  overflow: hidden;
  font-family: PingFangSC-Semibold;
  background-color: @default-bgcolor;
  border-radius: 2px;
  border-radius: 2px;

  &-has-battery {
    padding: 20px;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    // color: @primary-color;
    padding: 0 20px 20px 20px;
    &-left {
      color: @text-1-title;
      font-weight: 600;
      font-size: 12px;
      &-tooltip {
        margin-left: 7px;
      }
    }
    &-right {
      margin-left: 40px;
    }
  }

  &-body {
    // margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    &-left {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 80px;
      &-icon {
        margin-right: 20px;
        // height: 80px;
        // line-height: 80px;
        font-size: 40px;
        img {
          height: 40px;
        }
      }
      &-value {
        font-size: 12px;
        // margin-top: 20px;
        &-data {
          color: @strong-color;
          font-size: 30px;
          font-family: DINAlternate-Bold;
        }
        &-subtitle {
          color: @normal-color;
        }
      }
    }

    &-right {
      margin-left: 40px;
      &-label {
        font-size: 12px;
      }
      &-value {
        margin-left: 10px;
        color: @strong-color;
        font-weight: 600;
        font-size: 12px;
      }
    }
  }

  &-bottom {
    margin-top: 20px;
    &-battery {
      background-color: #fff;
    }

    &-custom {
      width: 100%;
    }

    .battery {
      position: relative;
      width: 100%;
      height: 25px;
      line-height: 1;
      background-color: #fff;
      .label {
        position: absolute;
        top: 7px;
        width: 100%;
        padding-right: 5px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 12px;
        text-align: right;
        word-break: break-all;
      }
      .bg-full-percent,
      .bg-percent {
        height: 100%;
        opacity: 0.5;
      }
      .bg-full-percent {
        background-color: #f97370;
      }
      .bg-percent {
        background-color: rgb(111, 145, 208);
      }
    }
  }

  &.card-gray {
    background-color: @gray-bgcolor;
  }

  &.card-default {
    background-color: @default-bgcolor;
    border: 1px solid #dbe0e4;
    .battery {
      border: 1px solid #dbe0e4;
    }
  }

  &.card-success,
  &.card-error,
  &.card-info,
  &.card-warning {
    .dantd-card-header-left,
    .dantd-card-header-right,
    .dantd-card-body-left-value-data,
    .dantd-card-body-right-label,
    .dantd-card-body-right-value {
      color: #fff;
    }
    .dantd-card-body-left-value-subtitle,
    .dantd-card-body-right-label {
      color: #fff;
      opacity: 0.6;
    }
    .battery > .bg-percent,
    .bg-full-percent {
      background-color: #fff;
      opacity: 1;
    }
  }

  &.card-success {
    background-image: @success-bgcolor;
    .battery {
      background-color: rgba(22, 196, 91, 0.4);
    }
  }

  &.card-error {
    background-image: @error-bgcolor;
    .battery {
      background-color: rgba(251, 78, 87, 0.4);
    }
  }

  &.card-info {
    background-image: @info-bgcolor;
    .battery {
      background-color: rgba(51, 112, 255, 0.4);
    }
  }

  &.card-warning {
    background-image: @warnging-bgcolor;
    .battery {
      background-color: rgba(255, 171, 10, 0.4);
    }
  }
}

.@{dantd-switch-prefix-cls}-has-battery {
  .@{dantd-switch-prefix-cls}-header {
    padding: 0 0 20px 0;
  }

  .@{dantd-switch-prefix-cls}-body {
    padding: 0;
  }
}

.@{dantd-switch-prefix-cls}-has-hover {
  &:hover {
    box-shadow: 0 2px 12px 0 rgba(31, 50, 82, 0.18);
    .@{dantd-switch-prefix-cls}-header {
      color: @primary-color;
    }
  }
}
