@import '../../../style/dantd.less';
.ant-alert-success.dantd-alert{
    background-color: fade(@success-color, 12%);
    border: 1px solid @success-color;
    .ant-alert-message,.ant-alert-description{
        color: @success-color;
    }
}
.ant-alert-info.dantd-alert{
    background-color: fade(@info-color, 12%);
    border: 1px solid @info-color;
    .ant-alert-message,.ant-alert-description{
        color: @info-color;
    }
}
.ant-alert-warning.dantd-alert{
    background-color: fade(@warning-color, 12%);
    border: 1px solid @warning-color;
    .ant-alert-message,.ant-alert-description{
        color: @warning-color;
    }
}
.ant-alert-error.dantd-alert{
    background-color: fade(@error-color, 12%);
    border: 1px solid @error-color;
    .ant-alert-message,.ant-alert-description{
        color: @error-color;
    }
}
.ant-alert.dantd-alert{
  padding: 8px 12px;
  .ant-alert-icon {
    margin-right: 4px;
}
}