@import '../../../style/themes/index';
@import '../../../style/mixins/index';

.site-tree-search-value {
  color: @primary-color;
}

.dd-search-input {
  .site-tree-search-value {
    color: @text-color;
  }

  &.@{ant-prefix}-select-open {
    .site-tree-search-value {
      color: #bfbfbf;
    }
  }

  &.@{ant-prefix}-select {
    width: 100%;

    .@{ant-prefix}-select-selector {
      .@{ant-prefix}-select-selection-item {
        padding-left: 24px;
      }
    }

    &.@{ant-prefix}-select-show-arrow {
      .@{ant-prefix}-select-selection-placeholder {
        padding-left: 24px;
      }

      .@{ant-prefix}-select-selection-search {
        padding-left: 24px;
      }

      .@{ant-prefix}-select-arrow {
        left: 14px;
        width: 16px;
        height: 16px;
        margin-top: -8px;
        color: #74788d;
        font-size: 16px;
      }
    }

    &:not(.@{ant-prefix}-select-customize-input) .@{ant-prefix}-select-selector input {
      width: 100%;
    }
  }
}
