@import '../../../style/dantd.less';

@dantd-progress-prefix-cls: ~'@{dantd-prefix}-progress';
.@{dantd-progress-prefix-cls}{
  &-title {
    color: @black;
    font-size: @font-size-base14;
    line-height: 2.4;
  }
}