.dd-search-input {
  width: 100%;
  
  &.ant-select-show-arrow {
    .ant-select-selection-placeholder {
      padding-left: 24px;
    }
    .ant-select-selection-search {
      padding-left: 24px;
    }
    .ant-select-arrow {
      left: 14px;
      margin-top: -8px;
      font-size: 16px;
      width: 16px;
      height: 16px;
      color: #74788D;
    }
  }
  
  &:not(.ant-select-customize-input) .ant-select-selector input {
    width: 100%;
  }
}