@import "../../../style/index.less";

.ant-checkbox-table-columns {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
  max-height: 186px;
  overflow: auto;
  

  .@{checkbox-prefix-cls}-wrapper {
    width: 126px;
    max-width: 50%;
    padding-bottom: 10px;
  }

  .@{checkbox-prefix-cls} {
    border-radius: 4px;
  }
}

.ant-checkbox-table-serch {
  width: 100%;
  padding: 16px 0;
  border-radius: 4px;
}
