@import '../../../style/dantd.less';

.ant-input-number.dantd-input-number {
  .dantd-input-standard();
  .ant-input-number-input {
    height: 34px;
    .font13();
  }
  &:hover {
    border-color: @input-hover-color;
  }
}

.ant-input-number.ant-input-number-lg.dantd-input-number {
  input {
    height: 40px;
    .font16();
  }
}

.ant-input-number.ant-input-number-sm.dantd-input-number {
  input {
    height: 25px;
    .font12();
  }
}
