@import '../../../style/dantd.less';

.ant-form-item {
  &-extra{
    margin-top: 6px;
  }
  &-explain {
    &&-error {
      margin-top: 6px;
    }

    &&-warning {
      margin-top: 6px;
    }

    div[role='alert']{
      margin-top: 6px;
    }
  }
}