@import '../../../style/dantd.less';


.ant-table-wrapper.dantd-table {
  .ant-table-tbody > tr > td{
    padding: 10px 10px 10px 20px;
    > a:hover{
      text-decoration: underline;
      color: #014CD1;
    }
    > a:active{
      text-decoration: underline;
      color: #014CD1;
    }
  }
  .ant-table-thead > tr > th{
    padding: 11px 11px 11px 20px;
  }
  .ant-table-pagination.ant-pagination{
    margin: 20px 0 ;
  }
  .ant-space-item{
    margin-right: 1px !important;
  }
}
