// @import '../../../style/index.less';
@root-entry-name: 'default';
@import '../../../basic/style/themes/index';
@import '../../../basic/style/mixins/index';
@collapse-prefix-cls: ~'@{ant-prefix}-collapse';

.clearfix() {
  &::before {
    display: table;
    content: '';
  }

  &::after {
    display: table;
    clear: both;
    content: '';
  }
}

.dd-chart-container {
  .query-module-container {
    padding: 20px 24px;
    background: #fff;
    border-bottom: 1px solid #F6F6F6;
  }

  .d1-row {
    width: auto;
  }

  &-header {
    padding: 10px 24px;

    &-r {
      float: right;

      &>* {
        margin-left: 8px !important;
        margin-bottom: 8px !important;
        display: inline-block !important;
      }
    }

    .reload-module {
      .@{ant-prefix}-btn-link {
        padding: 6.8px 8px 6.8px 0;
      }

      .last-time {
        line-height: 36px;
        font-size: 12px;
        color: #ADB5BC;
        position: relative;
        padding: 0 8px;
        display: inline-block;

        &::before {
          content: '|';
          position: absolute;
          left: 0;
          top: -1px;
        }
      }
    }
  }

  .no-group-con {
    padding: 0 24px;
  }

  .drag-sort-item {
    border: 1px solid #CED4DA;
    border-radius: 4px;
    background: #fff;
  }

  .@{ant-prefix}-collapse {
    &-ghost {
      >.@{collapse-prefix-cls}-item {
        >.@{collapse-prefix-cls}-header {
          padding: 10px 24px;
        }

        >.@{collapse-prefix-cls}-content {

          >.@{collapse-prefix-cls}-content-box {

            padding: 20px 24px;
          }
        }
      }
    }
  }
}