.dd-time-module {
  .time-radio-group {
    margin-right: 8px;
    margin-bottom: 8px;
    .ant-radio-button-wrapper {
      width: 71px;
      padding: 0;
      text-align: center;
    }
  }
  .ant-picker-range {
    width: 353px;
    .ant-picker-clear {
      font-size: 14px;
    }
  }
}