// 品牌色（常规、悬浮、点击）
@branch-normal-color: #2F81F9;
@branch-hover-color: #2A8FFF;
@branch-click-color: #326EE5;

// 中性色
// 文本
@text-1-title: #101724; // 标题&强调
@text-2-content: #303A51; // 正文内容
@text-3-nav: #505568; // 备注&导航 
@text-4-tip: #101724; // 提示文字
@text-5-disabled: #A8ADBD; // 文字置灰

// 线条 line
@line-1-1: #DCDFE6; // 一级边框
@line-2-1: #E4E7ED; // 二级边框

// 背景
@background-1-1: #F8FAFD;

// 功能色
@color-info: #F8FAFD; // 链接背景色
@color-success: #34C38F; // 成功
@color-warning: #F1B44C; // 警示
@color-error: #F46A6A; // 错误
