// mixins for clearfix
// ------------------------
@import './colors.less';
.clearfix() {
  zoom: 1;
  &::before,
  &::after {
    display: table;
    width: 100%;
    content: '';
  }
  &::after {
    clear: both;
  }
}
.reset-space {
  margin: 0;
  padding: 0;
}

.reset-space-border {
  margin: 0;
  padding: 0;
  border: 0;
}

.hide-fake {
  width: 0;
  height: 0;
  position: absolute;
  top: -9999px;
  right: -9999px;
  overflow: hidden;
  display: none;
}

/**
	* 循环 loop
  * @param  @count 30开始，每次递减5px
  * @return
    .ml5:{
	    margin-left: 5px!important;
    };
    .mr5:{
	    margin-right: 5px!important;
    };
    ....
 */
 .loop( @count )when( @count >= 0 ){
  .ml@{count}{
      margin-left: ( 1px * @count )!important;
  }
  .mr@{count}{
      margin-right: ( 1px * @count )!important;
  }
  .mb@{count}{
      margin-bottom: ( 1px * @count )!important;
  }
  .mt@{count}{
      margin-top: ( 1px * @count )!important;
  }
  .pl@{count}{
      padding-left: ( 1px * @count )!important;
  }
  .pr@{count}{
      padding-right: ( 1px * @count )!important;
  }
  .loop((@count - 5));
}
.loop(50);

// 品牌色
.branch-normal-color{
  color: @branch-normal-color;
}
.branch-hover-color{
  color: @branch-hover-color;
}
.branch-click-color{
  color: @branch-click-color;
}

// 功能色
.color-info{
  color: @color-info;
};
.color-success{
  color: @color-success;
};
.color-warning{
  color: @color-warning;
};
.color-error{
  color: @color-error;
};

.bg-info{
  background-color: @color-info;
};
.bg-success{
  background-color: @color-success;
};
.bg-warning{
  background-color: @color-warning;
};
.bg-error{
  background-color: @color-error;
};

// 文本颜色
.text-1-title{
  color: @text-1-title;
};
.text-2-content{
  color: @text-2-content;
};
.text-3-nav{
  color: @text-3-nav;
};
.text-4-tip{
  color: @text-4-tip;
};
.text-5-disabled{
  color: @text-5-disabled;
};

// 线条 line
.line-1-1{
  border-color: @line-1-1;
};
.line-2-1{
  border-color: @line-2-1;
};
.line-input {
  border: 1px solid @line-3-1;
};


// 背景色
.background-1-1{
  background-color: @background-1-1;
};

// 字号
.font10{
  font-size: 10px;
  line-height: 18px;
}
.font12{
  font-size: 12px;
  line-height: 20px;
}
.font13{
  font-size: 13px;
  line-height: 20px;
}
.font14{
  font-size: 14px;
  line-height: 22px;
}
.font16{
  font-size: 16px;
  line-height: 24px;
}
.font20{
  font-size: 20px;
  line-height: 28px;
}
.font32{
  font-size: 32px;
  line-height: 40px;
}

// 圆角
.radius4 {
  border-radius: 4px;
}

// input类型规范
.dantd-input-standard {
  background: @background-1-2;
  .radius4();
  .line-input();
}
