@import './colors.less';
@dantd-prefix: dantd;

// dantd 主题色 by zhaojingjessie@didiglobal.com
@primary-color: @branch-normal-color;
@info-color: @branch-normal-color;
@success-color: @color-success;
@error-color: @color-error;
@warning-color: @color-warning;
@border-color-base: @line-2-1; // 边框色
@font-size-base: 12px;
@font-size-base14: 14px;
@text-color: @text-2-content;
// @line-height-base: 18px;

@background-color-light: @background-1-1; // 背景色

// Progress by zhaojingjessie
// --
@progress-radius: 0;


//  Result
// ---
@dantd-result-title-font-size: 60px;
@dantd-result-subtitle-font-size: 24px;
@dantd-result-explain-font-size: 18px;

// Input by zhaojingjessie
@input-hover-bg-color: fade(@primary-5, 6%);
@input-password-hover-bg-color: fade(@primary-5, 0);
@input-border-color: @line-1-1;


// Form
@label-color: @text-3-nav;

// Table
@table-header-color: @text-2-content;

// Step
@finish-title-color: @text-1-title;