.dantd-query-form {
  margin: 16px 16px 0 !important;
  background: #f7f7f7;
  border-radius: 4px;
  .dcloud-select-selector,
  input {
    border-radius: 4px !important;
  }

  .dcloud-btn {
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 4px;
  }

  .dcloud-input-affix-wrapper {
    border-radius: 4px !important;
  }

  .dcloud-select-arrow {
    top: 50% !important;
  }
  .dcloud-form-item {
    flex: auto;
    margin-bottom: 16px;
    width: 100%;
    .ant-form-item-label {
      padding-bottom: 4px;
    }
  }
  .dcloud-form-inline .dcloud-form-item {
    margin-right: 0;
  }
  .dcloud-select-single:not(.dcloud-select-customize-input) .dcloud-select-selector {
    padding: 0 8px;
  }
  .dcloud-input {
    padding: 7px 8px;
  }

  * {
    font-size: 14px !important;
  }
  label {
    color: rgba(0, 0, 0, 0.6);
  }
  .dcloud-form-item-control-input-content {
    & > input {
      height: 32px;
    }
  }
  .dcloud-select-single:not(.dcloud-select-customize-input) .dcloud-select-selector .dcloud-select-selection-search-input,
  .dcloud-select-single .dcloud-select-selector .dcloud-select-selection-item {
    height: 32px;
  }
  .dcloud-select.dcloud-select-single .dcloud-select-selector {
    height: 32px;
  }
  .dcloud-select-single .dcloud-select-selector .dcloud-select-selection-placeholder {
    line-height: 32px;
  }
  .dantd-query-form-result {
    padding-bottom: 12px;
    margin-top: -4px;
  }
}
.collapsed-style {
  margin-left: 10px;
  display: inline-block;
}
.dcloud-empty-image svg {
  width: 100%;
}