.clearfix() {
  &::before {
    display: table;
    content: '';
  }

  &::after {
    display: table;
    clear: both;
    content: '';
  }
}
.dd-chart-container {
  &-header {
    margin-bottom: 10px;
    &-r {
      float: right;
      & > * {
        margin-left: 3px;
        display: inline-block;
      }
    }
  }
  .ant-collapse {
    margin-bottom: 10px;
  }
}