@import '../../../style/dantd.less';

@dantd-card-prefix-cls: ~'ant-card.@{dantd-prefix}-card';

.@{dantd-card-prefix-cls}{
  .ant-card-head{
    border-bottom: none;
  }
}

.dantd-default-card {
  .ant-card-head{
    min-height: 36px;
    padding: 0 16px;
  }
  .ant-card-body{
    padding: 16px;
  }
}