@import '../../../style/dantd.less';

.ant-transfer.dantd-transfer {
  .ant-transfer-list-content-item{
    padding:5px 10px;
  }
  .ant-transfer-list-header{
    padding: 10px 12px 11px 10px;
  }
  .ant-transfer-operation{
    margin: 0 20px;
  }
  .ant-transfer-operation .ant-btn:first-child{
    margin-bottom: 10px;
  }
  .ant-transfer-list-content-item > *:not(:last-child){
    margin-right: 10px;
  }
  .ant-transfer-list-content-item-remove:hover{
    color: #EF645C ;
  }
}

