@import '../../../style/dantd.less';

.dantd-demo-btn {
  .ant-btn {
    margin-right: 8px;
    margin-bottom: 12px;
  }
  .ant-btn-rtl {
    margin-right: 0;
    margin-left: 8px;
  }
  .ant-btn-group > .ant-btn {
    margin-right: 0;
  }
  .site-button-ghost-wrapper {
    background: rgba(255, 255, 255, 0.2);
  }
}
.site-button-ghost-wrapper {
  padding: 26px 16px 16px;
  background: rgb(190, 200, 200);
}
