@import '../../../basic/style/themes/variable.less';

@layout-prefix-cls: ~'dcd-layout-km';

.@{layout-prefix-cls} {
  .@{layout-prefix-cls}-header {
    height: 40px;
  }
  .@{layout-prefix-cls}-sider {
    width: 100px;
  }
}