@ant-prefix: 'dcloud';
@layout-prefix-cls: ~'dcd-km-layout';
@menu-selected-color: #556EE6;

body,
.main-content {
  background-image: linear-gradient(180deg, #EBEBF3 0%, #FFFFFF 100%);
}

.@{layout-prefix-cls}-sider {
  background: none;
  margin-top: 24px;


  &-menu {
    ul {
      background: none;

      li {
        span>a {
          font-family: HelveticaNeue;
          font-size: 13px;
          color: #212529;
          letter-spacing: 0;
        }
      }
    }

    .dcloud-menu:not(.dcloud-menu-horizontal) .dcloud-menu-item-selected {
      background: @menu-selected-color;
      border-radius: 8px;

      span,
      span>a {
        font-family: HelveticaNeue-Medium;
        font-size: 13px;
        color: #FFFFFF;
        letter-spacing: 0;
      }
    }

    .dcloud-menu:not(.dcloud-menu-inline-collapsed) {

      .dcloud-menu-vertical>.dcloud-menu-item,
      .dcloud-menu-vertical-left>.dcloud-menu-item,
      .dcloud-menu-vertical-right>.dcloud-menu-item,
      .dcloud-menu-inline>.dcloud-menu-item,
      .dcloud-menu-vertical>.dcloud-menu-submenu>.dcloud-menu-submenu-title,
      .dcloud-menu-vertical-left>.dcloud-menu-submenu>.dcloud-menu-submenu-title,
      .dcloud-menu-vertical-right>.dcloud-menu-submenu>.dcloud-menu-submenu-title,
      .dcloud-menu-inline>.dcloud-menu-submenu>.dcloud-menu-submenu-title {
        height: 32px;
        line-height: 32px;
      }

      .dcloud-menu-item .dcloud-menu-item-icon+span,
      .dcloud-menu-submenu-title .dcloud-menu-item-icon+span,
      .dcloud-menu-item .anticon+span,
      .dcloud-menu-submenu-title .anticon+span {
        margin-left: 8px;
      }

      .dcloud-menu-submenu,
      .dcloud-menu-item a:hover {
        color: #212529;
      }

      .dcloud-menu-item:hover {
        background: rgba(33, 37, 41, 0.04);
        border-radius: 8px;
      }

      .dcloud-menu-item {
        width: 180px;
        margin: 0px 10px 8px !important;
        padding: 0px 4px 0px 10px !important;
      }

      .dcloud-menu-submenu {
        width: 180px;
        margin: 0px 10px 8px !important;
        padding: 0px 4px 0px 0px !important;

        .dcloud-menu-item,
        .dcloud-menu-submenu-title {
          padding: 0px 0px 0px 10px !important;
          margin: 0px !important;

          .dcloud-menu-submenu-arrow:hover {
            color: #212529;
          }
        }

        .dcloud-menu-submenu-title:hover {
          background: rgba(33, 37, 41, 0.04);
          border-radius: 8px;
          color: #212529;
        }

        .dcloud-menu-submenu-arrow:hover {
          color: #212529;
        }

        .dcloud-menu-sub {
          background: none;

          .dcloud-menu-item {
            padding-left: 44px !important;
          }

          .dcloud-menu-item:hover {
            color: #212529;
          }
        }
      }
    }
  }

  &-footer {
    position: fixed;
    bottom: 0px;
    height: 32px;
    width: 180px;
    margin: 0px 10px;
    padding-left: 10px;
    color: #ADB5BC;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    letter-spacing: 0;

    .text {
      margin-left: 8px;
    }
  }
}