@import '../../../style/dantd.less';

.code-box-demo .ant-select {
  margin: 0 8px 10px 0;
}
.ant-select.dantd-select.ant-select-single {
  .ant-select-selector{
    height: 36px;
    .dantd-input-standard();
    .font13();
    &:hover {
      border-color: @input-hover-color;
    }
  }
}
.ant-select-lg.ant-select.dantd-select.ant-select-single {
  .ant-select-selector{
    .font16();
    height: 42px;
  }
}
.ant-select-sm.ant-select.dantd-select.ant-select-single {
  .ant-select-selector{
    .font12();
    height: 27px;
  }
}

.dantd-select-dropdown {
  .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: #F8F9FA;
  }
  .ant-select-item {
    .font13();
  }
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    color: #556EE6;
    font-weight: 600;
    background-color: #fff;
  }
}
