//
// right-sidebar.scss
//
@import '../../../../../style/themes/variable.less';

@draw-prefix-cls: ~'@{ant-prefix}-drawer';

.right-bar {
  position: fixed;
  top: 0;
  right: -(@rightbar-width + 10px);
  bottom: 0;
  z-index: 9999;
  display: block;
  float: right !important;
  width: @rightbar-width;
  background-color: @card-bg;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
  transition: all 200ms ease-out;

  .right-bar-toggle {
    display: block;
    width: 24px;
    height: 24px;
    color: @gray-200;
    line-height: 24px;
    text-align: center;
    background-color: lighten(@dark, 7%);
    border-radius: 50%;

    &:hover {
      background-color: lighten(@dark, 10%);
    }
  }
}

// Rightbar overlay
.rightbar-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  display: none;
  background-color: rgba(red(@dark), green(@dark), blue(@dark), 0.55);
  transition: all 0.2s ease-out;
}

.right-bar-enabled {
  .right-bar {
    right: 0;
  }
  .rightbar-overlay {
    display: block;
  }
}

.react-drawer-drawer {
  .@{draw-prefix-cls}-body {
    padding: 0px;
  }
}
