//
// _header.scss
//
@import '../../../../../style/themes/variable.less';

@badge-prefix-cls: ~'@{ant-prefix}-badge';

#page-topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: @sidebar-width;
  z-index: 992;
  background-color: @header-bg;
  box-shadow: @box-shadow;
  // @media (max-width: 991.98px) {
  //   left: 0;
  // }
}

.navbar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: @header-height;
  margin: 0 auto;
  padding: 0 calc(@grid-gutter-width / 2) 0 0 /*rtl: 0 0 0 calc(#{@grid-gutter-width} / 2) */;
  -ms-flex-pack: justify;

  .d-navbar-left {
    margin-left: 24px;
    color: @header-left-item-color;
    font-size: 16px;
    font-family: PingFangSC-Medium;
    letter-spacing: 0;
  }

  .dropdown {
    &.show {
      &.header-item {
        background-color: @gray-100;
      }
    }

    .dropdown-menu {
      margin-top: 0;
    }
  }
}

.navbar-brand-box {
  width: @navbar-brand-box-width;
  padding: 0 0.75rem 0 1.25rem;
  text-align: center;
}

.logo {
  height: @header-height;
  line-height: @header-height;
  text-decoration: transparent !important;

  .logo-title {
    color: #ffffff;
    font-size: 16px;
    font-family: PingFangSC-Medium;
  }

  .logo-sm {
    display: none;
  }
}

.logo-light {
  display: none;
}

/* Search */

.app-search {
  padding: calc(@header-height - 38px / 2) 0;

  .form-control {
    height: 38px;
    padding-right: 20px;
    padding-left: 40px;
    background-color: @topbar-search-bg;
    border: none;
    border-radius: 30px;
    box-shadow: none;
  }

  span {
    position: absolute;
    top: 0;
    left: 13px;
    z-index: 10;
    color: @gray-600;
    font-size: 16px;
    line-height: 38px;
  }
}

// Mega menu

.megamenu-list {
  li {
    position: relative;
    padding: 5px 0px;

    a {
      color: @dropdown-color;
    }
  }
}

// @media (max-width: 992px) {
//   .navbar-brand-box {
//     width: auto;
//   }

//   .logo {
//     span.logo-lg {
//       display: none;
//     }

//     span.logo-sm {
//       display: inline-block;
//     }
//   }
// }

.page-content {
  padding: calc(@header-height + @grid-gutter-width) calc(@grid-gutter-width / 2) @footer-height
    calc(@grid-gutter-width / 2);
}

.header-item {
  position: relative;
  height: @header-height;
  color: @header-item-color;
  border: 0;
  border-radius: 0px;
  box-shadow: none !important;

  &.white-icon {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }

  &.noti-item {
    padding: 0 0.9rem;
    line-height: 56px;

    .@{badge-prefix-cls}-count,
    .@{badge-prefix-cls}-dot,
    .@{badge-prefix-cls} .@{ant-prefix}-scroll-number-custom-component {
      top: 20px;
      right: 12px;
    }
  }

  &.setting {
    margin-left: 7px;
    line-height: @header-height;
    background: none;
  }

  &.user-item {
    display: flex;
    align-items: center;
    margin-left: 15px;

    .avatar {
      margin-right: 13px;
      font-size: 20px;
    }

    .account {
      margin-right: 5px;
      color: @header-item-color;
      font-size: 13px;
      font-family: PingFangSC-Regular;
      letter-spacing: 0;
    }
  }

  &:hover {
    color: @header-item-color;
  }
}

.header-profile-user {
  width: 36px;
  height: 36px;
  padding: 3px;
  background-color: @gray-300;
}

.noti-icon {
  i {
    color: @header-item-color;
    font-size: 22px;
  }

  .badge {
    position: absolute;
    top: 12px;
    right: 4px;
  }
}

.notification-item {
  .media {
    padding: 0.75rem 1rem;

    &:hover {
      background-color: @gray-300;
    }
  }
}

// Dropdown with Icons
.dropdown-icon-item {
  display: block;
  display: block;
  padding: 15px 0 9px;
  color: @gray-600;
  line-height: 34px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 3px;

  img {
    height: 24px;
  }

  span {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &:hover {
    border-color: @border-color;
  }
}

// Full Screen
.fullscreen-enable {
  [data-toggle='fullscreen'] {
    .bx-fullscreen::before {
      content: '\ea3f';
    }
  }
}

body[data-topbar='dark'] {
  #page-topbar {
    background-color: @header-dark-bg;
  }

  .navbar-header {
    .dropdown .show {
      &.header-item {
        background-color: rgba(255, 255, 255, 0.05);
      }
    }

    .waves-effect .waves-ripple {
      background: rgba(255, 255, 255, 0.4);
    }

    .d-navbar-left {
      color: @header-dark-item-color;
    }
  }

  .header-item {
    color: @header-dark-item-color;

    &:hover {
      color: @header-dark-item-color;
    }

    .account {
      margin-right: 5px;
      color: @header-dark-item-color;
      font-size: 13px;
      font-family: PingFangSC-Regular;
      letter-spacing: 0;
    }
  }

  .header-profile-user {
    background-color: rgba(255, 255, 255, 0.25);
  }

  .noti-icon {
    i {
      color: @header-dark-item-color;
    }
  }

  .logo-dark {
    display: none;
  }

  .logo-light {
    display: block;
  }

  .app-search {
    .form-control {
      color: @white;
      background-color: rgba(
        red(@topbar-search-bg),
        green(@topbar-search-bg),
        blue(@topbar-search-bg),
        0.07
      );
    }

    span,
    input.form-control::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

body[data-sidebar='dark'] {
  .navbar-brand-box {
    // background: @sidebar-dark-bg;
    background-image: linear-gradient(180deg, #182039 0%, #171f38 94%);
  }

  .logo-dark {
    display: none;
  }

  .logo-light {
    display: block;
  }
}

@media (max-width: 600px) {
  .navbar-header {
    .dropdown {
      position: static;

      .dropdown-menu {
        right: 10px !important;
        left: 10px !important;
      }
    }
  }
}

@media (max-width: 380px) {
  .navbar-brand-box {
    display: none;
  }
}

body[data-layout='horizontal'] {
  .navbar-brand-box {
    width: auto;
  }

  .page-content {
    margin-top: @header-height;
    padding: calc(55px + @grid-gutter-width) calc(@grid-gutter-width / 2) @footer-height
      calc(@grid-gutter-width / 2);
  }
}
