@import '../../../style/dantd.less';


.ant-pagination.dantd-pagination {
  .ant-pagination-item:hover:not(.ant-pagination-item-active){
    border: 1px solid #E4E7ED;
  }
  .ant-pagination-item-active{
    border: 1px solid #2F81F9;
  }
  .ant-select-item-option-selected{
    color:#2070FE;
    background: rgba(32,112,254,0.05);
  }
  .ant-select-item-option:hover{
    color:#2070FE;
    background: rgba(32,112,254,0.05);
  }
}
.mini.ant-pagination.dantd-pagination{
  margin: 10px 0 10px 0;
}
