.single-chart-container {
    position: relative;
    width: 100%;
    background: #FFFFFF;
}

.single-chart-header {
  position: absolute;
  width: 100%;
  padding: 24px;
  color: #495057!important;
  z-index: 99;
  .header-title {
    float: left;
      font-size: 13px;
      letter-spacing: 0;
      font-weight: bold;
      line-height: 13px;
  }
  .header-right {
    float: right;
      cursor: pointer;
      z-index: 99;
  }
}