.single-chart-container {
    position: relative;
    width: 100%;
    // border: 1px solid red;
    .container-inner-query {
        position: absolute;
        right: 80px;
        top: 20px;
    }
}

.single-chart-header {
    color: #495057!important;
    .header-title {
        position: absolute;
        top: 20px;
        left: 24px;
        font-size: 13px;
        letter-spacing: 0;
        font-weight: bold;
        line-height: 13px;
    }
    .header-right {
        position: absolute;
        top: 20px;
        right: 24px;
        cursor: pointer;
        z-index: 99;
    }
}

.reload-module {
    .ant-btn-link {
      padding: 6.8px 8px 6.8px 0;
    }
    .last-time {
      line-height: 36px;
      font-size: 12px;
      color: #ADB5BC;
      position: relative;
      padding: 0 8px;
      display: inline-block;
      &::before {
        content: '|';
        position: absolute;
        left: 0;
        top: -1px;
      }
    }
  }