.single-chart-container {
    position: relative;
    // border: 1px solid red;
    .container-inner-query {
        position: absolute;
        right: 80px;
        top: 20px;
    }
}

.single-chart-header {
    .header-title {
        position: absolute;
        top: 20px;
        left: 24px;
        font-size: 13px;
        color: #495057;
        letter-spacing: 0;
        font-weight: bold;
        line-height: 13px;
    }
    .header-right {
        position: absolute;
        top: 20px;
        right: 24px;
        cursor: pointer;
        z-index: 999;
    }

}