@import '../../../basic/style/themes/variable.less';

@breadcrumb-prefix-cls: ~'dcd-ks-breadcrumb';

.@{breadcrumb-prefix-cls} {
  &.@{ant-prefix}-breadcrumb {
    height: 18px;
    line-height: 18px;
    margin-top: 12px;

    a {
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #74788D;
      text-align: right;
    }

    .@{ant-prefix}-breadcrumb-link {
      font-family: PingFangSC-Medium;
      font-size: 12px;
      color: #495057;
    }
  }
}