.@{input-number-prefix-cls} {
  &-input {
    height: 34px;
    font-size: 13px;
    line-height: 20px;
  }
  &:not(&-disabled):focus,
  &:not(&-disabled):hover,
  &-focused {
    border-color: @primary-color;
  }
  &-lg {
    input {
      height: 40px;
      font-size: 16px;
      line-height: 24px;
    }
  }
  &-sm {
    input {
      height: 25px;
      font-size: 12px;
      line-height: 20px;
    }
  }
}
