.@{dialog-prefix-cls} {
  &-content {
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(12, 25, 52, 0.02), 0 0 16px 0 rgba(104, 126, 154, 0.12);
  }
  &-header {
    border-radius: 4px 4px 0 0;
    .ant-modal-title {
      line-height: 15px;
    }
  }
  &-footer {
    border-radius: 0 0 4px 4px;
  }

  &-close-x {
    height: 48px;
    line-height: 48px;
  }
}
