.code-box-demo.@{select-prefix-cls} {
  margin: 0 8px 10px 0;
}

.@{select-prefix-cls} {
  font-size: 13px;
  line-height: 20px;

  .@{select-prefix-cls}-selection-overflow-item {
    .@{select-prefix-cls}-selection-item {
      background: rgba(85, 110, 230, 0.18);
      border-radius: 10px;
      font-size: 12px;
      color: @primary-color;
      letter-spacing: 0;
      margin: 0 8px 0 0;
    }
  }
}

.@{select-prefix-cls}:not(.@{select-prefix-cls}-customize-input) .@{select-prefix-cls}-selector {
  background:#fff;
  border-radius: 4px;
  border: 1px solid #CED4DA;
}

.@{select-prefix-cls}-single:not(.@{select-prefix-cls}-customize-input) .@{select-prefix-cls}-selector {
  height: 36px;
  padding: 0 12px;
}

.@{select-prefix-cls}-single:not(.@{select-prefix-cls}-customize-input) .@{select-prefix-cls}-selector .@{select-prefix-cls}-selection-search-input {
  height: 34px;
}

.@{select-prefix-cls}-single .@{select-prefix-cls}-selector .@{select-prefix-cls}-selection-item {
  line-height: 34px;
}

.@{select-prefix-cls}-single .@{select-prefix-cls}-selector .@{select-prefix-cls}-selection-placeholder {
  line-height: 34px;
}

.@{select-prefix-cls}-multiple {
  .@{select-prefix-cls}-selector {
    min-height: 36px;
    padding: 0px 12px;
  }
}

.@{select-prefix-cls}.@{select-prefix-cls}-lg {
  font-size: 16px;
  line-height: 24px;
}

.@{select-prefix-cls}-single.@{select-prefix-cls}-lg:not(.@{select-prefix-cls}-customize-input) .@{select-prefix-cls}-selector {
  height: 42px;
  padding: 0 12px;
}

.@{select-prefix-cls}-single.@{select-prefix-cls}-lg:not(.@{select-prefix-cls}-customize-input):not(.@{select-prefix-cls}-customize-input) .@{select-prefix-cls}-selection-search-input {
  height: 40px;
}

.@{select-prefix-cls}-single.@{select-prefix-cls}-lg:not(.@{select-prefix-cls}-customize-input) .@{select-prefix-cls}-selector .@{select-prefix-cls}-selection-item {
  line-height: 40px;
}

.@{select-prefix-cls}-lg.@{select-prefix-cls}-multiple {
  .@{select-prefix-cls}-selector {
    min-height: 42px;
    padding: 0px 12px;
  }
}

.@{select-prefix-cls}.@{select-prefix-cls}-sm {
  font-size: 12px;
line-height: 20px;
}

.@{select-prefix-cls}-single.@{select-prefix-cls}-sm:not(.@{select-prefix-cls}-customize-input) .@{select-prefix-cls}-selector {
  height: 27px;
  padding: 0 12px;
}

.@{select-prefix-cls}-single.@{select-prefix-cls}-sm:not(.@{select-prefix-cls}-customize-input):not(.@{select-prefix-cls}-customize-input) .@{select-prefix-cls}-selection-search-input {
  height: 25px;
}

.@{select-prefix-cls}-single.@{select-prefix-cls}-sm:not(.@{select-prefix-cls}-customize-input) .@{select-prefix-cls}-selector .@{select-prefix-cls}-selection-item {
  line-height: 25px;
}

.@{select-prefix-cls}-sm.@{select-prefix-cls}-multiple {
  .@{select-prefix-cls}-selector {
    min-height: 27px;
    padding: 0px 12px;
  }
}

.@{select-prefix-cls}-focused:not(.@{select-prefix-cls}-disabled).@{select-prefix-cls}:not(.@{select-prefix-cls}-customize-input) .@{select-prefix-cls}-selector {
  border-color: @input-hover-color;
}

.@{select-prefix-cls}:not(.@{select-prefix-cls}-disabled):hover .@{select-prefix-cls}-selector {
  border-color: @input-hover-color;
}

.@{select-prefix-cls}-item-option-active:not(.@{select-prefix-cls}-item-option-disabled) {
  background-color: #F8F9FA;
}

.@{select-prefix-cls}-item-option-selected:not(.@{select-prefix-cls}-item-option-disabled) {
  background-color: #fff;
  color: @primary-color;
  font-size: 13px;
  line-height: 20px;
}

.@{select-prefix-cls}.@{select-prefix-cls}-single {
  .@{select-prefix-cls}-selector{
    height: 36px;
    font-size: 13px;
    line-height: 20px;
    background:#fff;
    border-radius: 4px;
    border: 1px solid #CED4DA;
  }
}
.@{select-prefix-cls}-lg.@{select-prefix-cls}.@{select-prefix-cls}-single {
  .@{select-prefix-cls}-selector{
    font-size: 16px;
    line-height: 24px;
  }
}
.@{select-prefix-cls}-sm.@{select-prefix-cls}.@{select-prefix-cls}-single {
  .@{select-prefix-cls}-selector{
    font-size: 12px;
    line-height: 20px;
  }
}
