.@{table-prefix-cls},
.@{table-prefix-cls}-small {

  
  .@{table-prefix-cls}-thead > tr > th:not(:last-child):not(.@{table-prefix-cls}-selection-column):not(.@{table-prefix-cls}-row-expand-icon-cell):not([colspan])::before{
    content:'' !important;
    width: 0 !important;
  }

  .@{table-prefix-cls}-content{
    border-radius: 4px 4px 0 0;
  }

  .@{table-prefix-cls}-cell {
    line-height: 20px;
    padding: 11px 16px 11px;
    font-size: 13px;

    .@{table-prefix-cls}-column-sorters {
      display: flex;
      flex: auto;
      align-items: center;
      justify-content: flex-start;

      .@{table-prefix-cls}-column-title{
        flex: initial;
      }
    }

    .@{table-prefix-cls}-column-sorter{
      color: #74788D;
    }
  }

  .line_clamp_two {
    cursor: pointer;

    &>* {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      display: -moz-box;
      -moz-line-clamp: 2;
      -moz-box-orient: vertical;
      word-wrap: break-word;
      word-break: break-all;
      white-space: normal;
    }
  }

  .line_clamp_one {
    cursor: pointer;

    &>* {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .@{table-prefix-cls}-thead {
    &>tr:nth-child(1){
      .@{table-prefix-cls}-cell:nth-child(1) {
        padding-left: 24px;
      }
    }

    .@{table-prefix-cls}-cell:nth-last-child(1) {
      padding-right: 24px;
    }

    .@{table-prefix-cls}-cell {
      background-color:@table-thead-cell-bgcolor !important;
      font-family: PingFangSC-Semibold;
      border-bottom: 2px solid #EFF2F7;
    }
  }

  .@{table-prefix-cls}-tbody {
    .@{table-prefix-cls}-cell:nth-child(1) {
      padding-left: 24px;
    }

    .@{table-prefix-cls}-cell:nth-last-child(1) {
      padding-right: 24px;
    }
    
    .@{table-prefix-cls}-cell {
      // line-height: 20px;
      background-color: @table-background-color;
      color: @table-color;
    }
  }

  // 设置默认行背景色-(隔行变色)
  .line-fill-color {
    .@{table-prefix-cls}-cell {
      background-color: @table-line-fill-color;
    }
  }

  // .@{table-prefix-cls}-cell::before {
  //   width: 0 !important;
  //   background-color: transparent;
  // }

  .table-small-bgcolor{
    .@{table-prefix-cls}-cell {
      background-color: @table-thead-cell-bgcolor !important;
      border-bottom: 1px solid #EFF2F7;
    }
  }
}

.@{table-prefix-cls}-small {
  .@{table-prefix-cls}-cell {
    padding: 0 8px !important;
    height: 30px !important;
    line-height: 30px;
    font-size: 13px !important;
  }
}

// 鼠标滑过行背景色设置
.@{table-prefix-cls}-cell-row-hover {
  background-color: #F8F9FA;
}

// 纯无边框Table
.frameless-table {
  .@{table-prefix-cls}-cell {
    border: none !important;
  }

  .@{table-prefix-cls}-container {
    border: none !important;
  }

  .@{table-prefix-cls}-content {
    &>table {
      border: none !important;
    }
  }
}
.@{table-prefix-cls}-column-sorter{
  position: relative;
  top: 1px;
}