// -------- Custom Variables -----------
// 文本
@text-1-title: #101724; // 标题&强调
@text-2-content: #303a51; // 正文内容
@text-3-nav: #505568; // 备注&导航
@text-4-tip: #101724; // 提示文字
@text-5-disabled: #a8adbd; // 文字置灰

// 线条 line
@line-1-1: #dcdfe6; // 一级边框
@line-2-1: #e4e7ed; // 二级边框
@line-3-1: #ced4da; // 三级边框

// 背景
@background-1-1: #f8fafd;
@background-1-2: #ffffff; // 数据录入背景色，input、select等

// ---

// height rules
@height-base: 36px;
@height-lg: 42px;
@height-sm: 27px;

// -------- Colors -----------
// >>> Primary
@primary-color: #556ee6;
@primary-color-hover: #4458b8;
@primary-color-active: #4458b8;
@primary-color-outline: #556ee6;
@primary-color-deprecated-bg: fade(@primary-color, 18%);

// >>> Secondary
@secondary-color: #74788d;
@secondary-color-hover: #5d6071;
@secondary-color-active: #5d6071;

// >>> Info
@info-color: #50a5f1;
@info-color-deprecated-bg: fade(@info-color, 18%);

// >>> Success
@success-color: #34c38f;
@success-color-hover: #1ba282;
@success-color-active: #1ba282;
@success-color-deprecated-bg: fade(@success-color, 18%);

// >>> Warning
@warning-color: #f1b44c;
@warning-color-deprecated-bg: fade(@warning-color, 18%);

// >>> Error
@error-color: #f46a6a;
@error-color-hover: #d65555;
@error-color-active: #d65555;
@error-color-deprecated-bg: fade(@error-color, 18%);

// >>> Dark
@dark-color: #343a40;
@dark-color-deprecated-bg: fade(@dark-color, 18%);

// ---

@text-color: #353a40;
@font-size-base: 13px;
@border-radius-base: 4px;

// Border color
@border-color-base: @line-3-1;

// Outline
@background-color-light: @background-1-1;

// Alert
@alert-success-border-color: #c2eddd;
@alert-success-bg-color: #d6f3e9;
@alert-success-icon-color: #1f7556;
@alert-info-border-color: #cbe4fb;
@alert-info-bg-color: #dcedfc;
@alert-info-icon-color: #306391;
@alert-warning-border-color: #fbe9c9;
@alert-warning-bg-color: #fcf0db;
@alert-warning-icon-color: #916c2e;
@alert-error-border-color: #fcd2d2;
@alert-error-bg-color: #fde1e1;
@alert-error-icon-color: #924040;
@alert-close-color: #74788d;

// Buttons
@btn-hover-color: #ffffff;
@btn-text-hover-bg: #f8f9fa;

@btn-default-color: @text-color;
@btn-default-bg: @component-background;
@btn-default-border: @border-color-base;

@btn-padding-horizontal-base: @padding-md;
@btn-padding-horizontal-lg: @btn-padding-horizontal-base;
@btn-padding-horizontal-sm: @padding-xs - 1px;

@btn-border-radius-base: 4px;

// Collapse
@collapse-header-padding: 10px 20px;

// Empty
@empty-font-size: 14px;

// Input
@input-hover-color: #556ee6;
@input-border-color: #dcdfe6;

// Message
@message-notice-content-padding: 14px;
@message-notice-content-margin: -14px;
@message-notice-content-line-height: 25px;
@message-notice-status-content-color: #fff;
@message-notice-icon-font-size: 20px;

// Notification
@notification-padding-vertical: 14px;
@notification-padding-horizontal: 14px;
@notification-width: 480px;
@notification-icon-size: 24px;
@notification-content-color: #fff;

// Pagination
@pagination-item-active-color: #556ee6;
@pagination-transparent-background-color: rgba(0, 0, 0, 0);

// Switch
@switch-height: 24px;

// Table
@table-background-color: #ffffff;
@table-color: #333333;
@table-line-fill-color: #fcfdfd;
@table-thead-cell-bgcolor: #f8f9fa;

// Tooltip
// Tooltip text color
@tooltip-color: #eff2f7;
// Tooltip background color
@tooltip-bg: fade(#212b36, 80%);
// Tooltip distance with trigger
@tooltip-distance: 1px;

@dantd-prefix: dantd;

//  DResult
@dantd-result-title-font-size: 60px;
@dantd-result-subtitle-font-size: 24px;
@dantd-result-explain-font-size: 18px;

// Form
@label-color: @text-3-nav;

// Table
@table-header-color: @text-2-content;

// Step
@finish-title-color: @text-1-title;
