// @import "../../../style/index.less";
@root-entry-name: 'default';
@import '../../../style/themes/index';
@import '../../../style/mixins/index';

.d-table {
  // 覆盖d-table的样式
  display: initial !important;
  background: white;

  &-box {
    // padding: 20px 0px; // 去除padding改由外部控制

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 0;

      &-search {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-custom {
          padding-left: 12px;
        }
      }

      &-btn {
        display: flex;

        button {
          margin-right: 10px;
        }

        .reload {
          width: 30px;
          height: 30px;
          margin-right: 10px;
          line-height: 30px;
          border: 1px solid #dbe0e4;
          border-radius: 2px;
        }

        .reload:hover {
          color: #2f81f9;
        }
      }
    }

    &-query {
      box-sizing: border-box;
      margin-bottom: 14px;
      overflow: auto;
      background-color: #f8f9fa;
      transition: all 0.3s linear;
    }
  }

  .@{ant-prefix}-table-title {
    margin-bottom: 16px;
    padding: 0;
  }

  .@{ant-prefix}-thead {
    tr th {
      white-space: nowrap;
    }
  }

  .@{ant-prefix}-filter-column {
    line-height: 100%;

    .@{ant-prefix}-filter-column-title {
      flex-grow: 0;
      padding-right: 5px;
    }

    .@{ant-prefix}-filter-trigger-container {
      position: relative;
    }
  }
}
