.drag-sort-item {
  position: relative;
  .drag-handle-icon {
    position: absolute;
    top: 24px;
    right: 24px;
    color: #74788D;
    font-size: 16px;
    z-index: 10;
    cursor: move;
    &:hover {
      color: #556EE6;
    }
  }
}