.dd-search-input {
  &.ant-input-affix-wrapper {
    &:focus {
      border-color: #556EE6;
    }
    &-focused {
      border-color: #556EE6;
    }
  }
  
  .ant-input-prefix {
    
    .anticon {
      color: #74788D;
      font-size: 16px;
    }
    
  }
}