@import '../../../style/themes/index';
@import '../../../style/mixins/index';

.dd-search-input {
  &.ant-input-affix-wrapper {
    &:focus {
      border-color: #556ee6;
    }
    &-focused {
      border-color: #556ee6;
    }
  }

  .ant-input-prefix {
    .anticon {
      color: #74788d;
      font-size: 16px;
    }
  }
}
