.@{picker-prefix-cls} {
  &-header {
    background-color: @primary-color;
    color: @white;
  }
  &-prev-icon,
  &-next-icon,
  &-super-prev-icon::before,
  &-super-prev-icon::after,
  &-super-next-icon::before,
  &-super-next-icon::after {
    color: @white;
  }
  
  &-range-arrow {
    visibility: hidden;
  }
}