@import '../../style/dantd.less';

.code-box-demo {
  margin: 0 8px 10px 0;
}
.ant-dropdown { // 下拉框动画
  will-change: transform;
  transform: translate3d(0px, -10px, 0px);
}
.ant-select.ant-select-single {
  .ant-select-selector{
    height: 36px;
    .font13();
    .dantd-input-standard();
  }
}
.ant-select-lg.ant-select.ant-select-single {
  .ant-select-selector{
    .font16();
  }
}
.ant-select-sm.ant-select.ant-select-single {
  .ant-select-selector{
    .font12();
  }
}
