@import '../../style/dantd.less';

@dropdown-prefix-cls: ~'@{ant-prefix}-dropdown';
@select-prefix-cls: ~'@{ant-prefix}-select';

.@{select-prefix-cls}.@{select-prefix-cls}-single {
  .@{select-prefix-cls}-selector{
    height: 36px;
    .font13();
    .dantd-input-standard();
  }
}
.@{select-prefix-cls}-lg.@{select-prefix-cls}.@{select-prefix-cls}-single {
  .@{select-prefix-cls}-selector{
    .font16();
  }
}
.@{select-prefix-cls}-sm.@{select-prefix-cls}.@{select-prefix-cls}-single {
  .@{select-prefix-cls}-selector{
    .font12();
  }
}
