@import '../../style/dantd.less';

@input-number-prefix-cls: ~'@{ant-prefix}-input-number';

.@{input-number-prefix-cls} {
  &-input {
    height: 34px;
    .font13();
  }
  &:not(&-disabled):focus,
  &:not(&-disabled):hover,
  &-focused {
    border-color: @input-hover-color;
  }
  &-lg {
    input {
      height: 40px;
      .font16();
    }
  }
  &-sm {
    input {
      height: 25px;
      .font12();
    }
  }
}
