.ant-pagination-custom {
  display: block;
  align-items: center;
  justify-content: initial;
  text-align: right;
  font-size: 13px;

  &>li {
    line-height: 32px !important;
  }

  .ant-pagination-item,
  .ant-pagination-prev,
  .ant-pagination-next {
    min-width: 32px;
    max-height: 32px;
    margin-right: 2px;
    border: none;
  }

  .ant-pagination-item-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ant-pagination-item {
    border-radius: 50%;
  }

  .ant-pagination-item-active {
    background-color: #556EE6;

    a {
      color: #ffffff;
      padding: 0 !important;
    }
  }

  .ant-pagination-item-link {
    border: none;
  }

  .ant-pagination-total-text {
    // flex: auto;
    float: left;
  }

  .ant-pagination-options {
    float: left;
    margin-left: 0;
    text-align: left;

    display: flex;
    align-items: center;
    max-height: 32px;

    .ant-select-selector {
      padding-left: 4px;
      max-height: 32px;

      .ant-select-selection-item {
        line-height: 30px;
        height: 100%;
      }
    }
  }
}

.mini {

  .ant-pagination-item,
  .ant-pagination-prev,
  .ant-pagination-next {
    min-width: 26px !important;
    height: 26px !important;
    line-height: 26px !important;
  }
}
