.@{ant-prefix}-pagination {
  align-items: center;

  .@{ant-prefix}-pagination-item,
  .@{ant-prefix}-pagination-prev {
    min-width: 32px;
    height: 32px;
    line-height: 32px;
    margin-right: 2px;
    border: none;
  }

  .@{ant-prefix}-pagination-item {
    border-radius: 50%;
  }

  .@{ant-prefix}-pagination-item-active {
    background-color: #556EE6;

    a {
      color: #ffffff;
      padding: 0 !important;
    }
  }

  .@{ant-prefix}-pagination-item-link {
    border: none;
  }

  .@{ant-prefix}-pagination-total-text {
    // flex: auto;
    float: left;
  }

  .ant-pagination-options {
    float: left;
  }
}

.mini {

  .@{ant-prefix}-pagination-item,
  .@{ant-prefix}-pagination-prev {
    min-width: 26px !important;
    height: 26px !important;
    line-height: 26px !important;
  }
}
