@import '../../style/dantd.less';

@select-prefix-cls: ~'@{ant-prefix}-select';

.code-box-demo.@{select-prefix-cls} {
  margin: 0 8px 10px 0;
}

.@{select-prefix-cls} {
  .font13();

  .@{select-prefix-cls}-selection-overflow-item {
    .@{select-prefix-cls}-selection-item {
      background: rgba(85, 110, 230, 0.18);
      border-radius: 10px;
      font-size: 12px;
      color: #556EE6;
      letter-spacing: 0;
      margin: 0 8px 0 0;
    }
  }
}

.@{select-prefix-cls}-dropdown {
  // 下拉框动画
  will-change: transform;
  transform: translate3d(0px, -10px, 0px);
}

.@{select-prefix-cls}:not(.@{select-prefix-cls}-customize-input) .@{select-prefix-cls}-selector {
  .dantd-input-standard();
}

.@{select-prefix-cls}-single:not(.@{select-prefix-cls}-customize-input) .@{select-prefix-cls}-selector {
  height: 36px;
  padding: 0 12px;
}

.@{select-prefix-cls}-single:not(.@{select-prefix-cls}-customize-input) .@{select-prefix-cls}-selector .@{select-prefix-cls}-selection-search-input {
  height: 34px;
}

.@{select-prefix-cls}-single .@{select-prefix-cls}-selector .@{select-prefix-cls}-selection-item {
  line-height: 34px;
}

.@{select-prefix-cls}-single .@{select-prefix-cls}-selector .@{select-prefix-cls}-selection-placeholder {
  line-height: 34px;
}

.@{select-prefix-cls}-multiple {
  .@{select-prefix-cls}-selector {
    min-height: 36px;
    padding: 0px 12px;
  }
}

.@{select-prefix-cls}.@{select-prefix-cls}-lg {
  .font16();
}

.@{select-prefix-cls}-single.@{select-prefix-cls}-lg:not(.@{select-prefix-cls}-customize-input) .@{select-prefix-cls}-selector {
  height: 42px;
  padding: 0 12px;
}

.@{select-prefix-cls}-single.@{select-prefix-cls}-lg:not(.@{select-prefix-cls}-customize-input):not(.@{select-prefix-cls}-customize-input) .@{select-prefix-cls}-selection-search-input {
  height: 40px;
}

.@{select-prefix-cls}-single.@{select-prefix-cls}-lg:not(.@{select-prefix-cls}-customize-input) .@{select-prefix-cls}-selector .@{select-prefix-cls}-selection-item {
  line-height: 40px;
}

.@{select-prefix-cls}-lg.@{select-prefix-cls}-multiple {
  .@{select-prefix-cls}-selector {
    min-height: 42px;
    padding: 0px 12px;
  }
}

.@{select-prefix-cls}.@{select-prefix-cls}-sm {
  .font12();
}

.@{select-prefix-cls}-single.@{select-prefix-cls}-sm:not(.@{select-prefix-cls}-customize-input) .@{select-prefix-cls}-selector {
  height: 27px;
  padding: 0 12px;
}

.@{select-prefix-cls}-single.@{select-prefix-cls}-sm:not(.@{select-prefix-cls}-customize-input):not(.@{select-prefix-cls}-customize-input) .@{select-prefix-cls}-selection-search-input {
  height: 25px;
}

.@{select-prefix-cls}-single.@{select-prefix-cls}-sm:not(.@{select-prefix-cls}-customize-input) .@{select-prefix-cls}-selector .@{select-prefix-cls}-selection-item {
  line-height: 25px;
}

.@{select-prefix-cls}-sm.@{select-prefix-cls}-multiple {
  .@{select-prefix-cls}-selector {
    min-height: 27px;
    padding: 0px 12px;
  }
}

.@{select-prefix-cls}-focused:not(.@{select-prefix-cls}-disabled).@{select-prefix-cls}:not(.@{select-prefix-cls}-customize-input) .@{select-prefix-cls}-selector {
  border-color: @input-hover-color;
}

.@{select-prefix-cls}:not(.@{select-prefix-cls}-disabled):hover .@{select-prefix-cls}-selector {
  border-color: @input-hover-color;
}

.@{select-prefix-cls}-item-option-active:not(.@{select-prefix-cls}-item-option-disabled) {
  background-color: #F8F9FA;
}

.@{select-prefix-cls}-item-option-selected:not(.@{select-prefix-cls}-item-option-disabled) {
  background-color: #fff;
  color: #556EE6;
  .font13();
}
