@import '../../style/dantd.less';

.code-box-demo.ant-select {
  margin: 0 8px 10px 0;
}

.ant-select {
    .font13();
    .ant-select-selection-overflow-item {
    .ant-select-selection-item {
      background: rgba(85,110,230,0.18);
      border-radius: 10px;
      font-size: 12px;
      color: #556EE6;
      letter-spacing: 0;
    }
  }
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  .dantd-input-standard();
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  height: 36px;
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
  height: 34px;
}
.ant-select-single .ant-select-selector .ant-select-selection-item {
  line-height: 34px;
}
.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
  line-height: 34px;
}
.ant-select-multiple {
  .ant-select-selector  {
    height: 36px;
    padding: 1px 4px;
  }
}

.ant-select.ant-select-lg {
  .font16();
}

.ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector {
  height: 42px;
}
.ant-select-single.ant-select-lg:not(.ant-select-customize-input):not(.ant-select-customize-input) .ant-select-selection-search-input {
  height: 40px;
}
.ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-item {
  line-height: 40px;
}
.ant-select-lg.ant-select-multiple {
  .ant-select-selector  {
    height: 42px;
    padding: 1px 4px;
  }
}

.ant-select.ant-select-sm {
  .font12();
}

.ant-select-single.ant-select-sm:not(.ant-select-customize-input) .ant-select-selector {
  height: 27px;
}
.ant-select-single.ant-select-sm:not(.ant-select-customize-input):not(.ant-select-customize-input) .ant-select-selection-search-input {
  height: 25px;
}
.ant-select-single.ant-select-sm:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-item {
  line-height: 25px;
}
.ant-select-sm.ant-select-multiple {
  .ant-select-selector  {
    height: 27px;
    padding: 1px 4px;
  }
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-color: @input-hover-color;
}
.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: @input-hover-color;
}
.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: #F8F9FA;
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #fff;
  color: #556EE6;
  .font13();
}
