.slider-tabs {
  .ant-tabs-nav .ant-tabs-ink-bar {
    height: 0px;
  }

  .ant-tabs-nav {
    height: 35px;
    background: #EFF2F7;

    .ant-tabs-tab {
      font-family: Poppins-Regular;
      font-size: 13px;
      color: #495057;
      letter-spacing: 0;
      justify-content: center;
      padding: 0 12px;
    }

    .ant-tabs-tab-active {
      background-color: #556EE6;
      border-radius: 5px;

      .ant-tabs-tab-btn {
        color: #fff;
      }
    }
  }
}

.vcard-tabs {
  .ant-tabs-tab {
    width: 113px;
    height: 95px;
    justify-content: center;
  }

  .ant-tabs-nav .ant-tabs-ink-bar {
    width: 0px;
  }
 
  .ant-tabs-tab-active {
    background: #F6F6F6;
  }
  .ant-tabs-content-holder {
    border: none;
  }
}

.ant-tabs-tab {
  font-family: PingFangSC-Regular;
  font-size: 13px;
  color: #495057;
  letter-spacing: 0;
  padding: 9px 0px;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #556EE6;
}

.ant-tabs-ink-bar {
  color: #556EE6;
}
