// >>> Primary
@primary-color: #556EE6;
@primary-color-deprecated-bg: fade(@primary-color, 18%);

// >>> Info
@info-color: #50A5F1;
@info-color-deprecated-bg: fade(@info-color, 18%);

// >>> Success
@success-color: #34C38F;
@success-color-deprecated-bg: fade(@success-color, 18%);

// >>> Warning
@warning-color: #F1B44C;
@warning-color-deprecated-bg: fade(@warning-color, 18%);

// >>> Error
@error-color: #F46A6A;
@error-color-deprecated-bg: fade(@error-color, 18%);

// >>> dark
@dark-color: #343A40;
@dark-color-deprecated-bg: fade(@dark-color, 18%);

.ant-tag {
  border: transparent;
  padding: 0 4px;
  border-radius: 4px;
  line-height: 14px;
  &.ant-tag-circular {
    border-radius: 7px;
  }
  &.ant-tag-dot-display {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &-close-icon {
    margin-left: 4px;
    font-size: 8px;
  }
  .make-status-color-classes(@status, @cssVariableType) {
    @bgColor: '@{cssVariableType}-color-deprecated-bg';
    @textColor: '@{cssVariableType}-color';
    &-@{status} {
      color: @@textColor;
      background: @@bgColor;
      .ant-tag-close-icon {
        color: @@textColor;
      }
    }
    &-@{status}-inverse {
      color: #fff;
      background: @@textColor;
      .ant-tag-close-icon {
        color: #fff;
      }
    }
  };
  .make-status-color-classes(primary, primary);
  .make-status-color-classes(info, info);
  .make-status-color-classes(dark, dark);

  .make-status-color-classes(success, success);
  .make-status-color-classes(processing, info);
  .make-status-color-classes(error, error);
  .make-status-color-classes(warning, warning);
}


