@import '../../../style/dantd.less';

.dantd-upload {
  .ant-upload-list-item-progress {
    padding-left: 0px;
  }
  .ant-upload-list-picture .ant-upload-list-item, .ant-upload-list-picture-card .ant-upload-list-item{
    padding: 0px;
  }
  .ant-progress-outer{
    padding-left: 8px;
  }
  .ant-upload-list-picture-card .ant-upload-list-item-actions {
    top:90%;
    left: 76%;
  }
  .ant-upload-list-picture-card .ant-upload-list-item-info::before{
    height: 20%;
    margin-top: 80%;
  }
  .ant-upload.ant-upload-select-picture-card{
    border: 1px solid #E4E7ED;
  }
  .ant-upload-list-picture-card .ant-upload-list-item-uploading.ant-upload-list-item{
    border: 1px solid #E4E7ED;
  }
}
