@import '../../../style/dantd.less';

@btn-hover-color: #FFFFFF;

.dantd-upload {
  .ant-upload.ant-upload-select-picture-card {
    width: 126px;
    height: 126px;
    background: #FFFFFF;
    border: 1px dashed #ADB5BC;
    border-radius: 4px;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  .ant-upload-list-picture-card-container {
    width: 126px;
    height: 126px;
  }
  .dant-form-item-required:before {
      display: inline-block;
      color: #F46A6A;
      font-size: 12px;
      font-family: SimSun,sans-serif;
      line-height: 1;
      content: "*";
  }
}
.dantd-dragger.ant-upload.ant-upload-drag {
  background: #FFFFFF;
  border: 1px dashed #ADB5BC;
  border-radius: 4px;
  .ant-upload-drag-icon {
    font-size: 12px;
    color: #353A40;
    line-height: 18px;
    svg{
      width: 100%;
      height: 100%;
    }
  }
  .ant-upload-text {
    font-size: 12px;
    color: #A9AFBC;
    line-height: 18px;
  }
}


